/* Estilos para reinicio */

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.top-10 {
    margin-top: 10px;
}

.top-42 {
    margin-top: 42px;
}


/* Estilos para Contry Page */

.content-main {
    width: 100%;
}

.side-l-main,
.side-r-main {
    height: 228px;
}

.side-l-main {
    width: 25%;
    float: left;
    padding: 16px 19px;
}

.side-r-main {
    width: 75%;
    float: right;
    padding: 15px 0px 0px 0px;
    /* width: 75%;
    float: right;
    padding: 16px 0px 0px 0px;
    height: 100%; */
}

.subtitle {
    font-size: 11px;
    color: #4d4d4d
}

.year-indicator,
.select-indicator {
    font-size: 11px;
    color: rgba(40, 40, 40, 0.56);
    display: block;
    height: 23px;
}

.year-indicator {
    border-bottom: 1px solid rgba(40, 40, 40, 0.15);
    padding-bottom: 30px;
}

.title-select {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: #4d4d4d;
}

.title-select span {
    display: block;
    border-bottom: 2px solid #ea6239;
    text-align: center;
    line-height: 2.19;
    overflow-y: auto;
    max-width: 100%;
    height: 48px;
}

.title-select span::-webkit-scrollbar {
    width: 3px;
}

.title-select span::-webkit-scrollbar-thumb {
    background: rgba(234, 98, 57, 0.9);
    border-radius: 5px;
}

.btn-year-style,
.btn-year-style.active {
    padding: 4px 27px;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 11px;
}


/* Boton año normal */

.radio-btn input[type="radio"] {
    display: none;
}


/* Boton año activo */

.radio-btn input[type="radio"]:checked+label {
    background-color: #343c53 !important;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.11);
    color: #fff !important;
}

.btn-year-icon {
    font-size: 11px;
    color: #fff;
    padding: 7px;
    background-color: #ea6239;
    border-radius: 2px;
}


/* Estilos link cabecera lado derecho */

.links {
    width: 100%;
    padding-left: 56px;
}


/* link default */

.link-a {
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    color: #4d4d4d;
    margin-left: 11px;
    margin-right: 11px;
}

.link-a span {
    display: none;
}


/*Links activo con texto*/

.link-a.active span {
    display: inline-block;
}


/* Estilos fila tabla */

.row-table-title,
.row-table {
    display: table;
    width: 100%;
}

.row-table-title {
    background-color: #ebebeb;
}

.row-table {
    background-color: rgba(235, 235, 235, 0.26);
}


/* Estilos columna tabla */

.col-table {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 80px;
    padding: 16px 19px;
    font-size: 11px;
}

.r-boder {
    border-right: 1px solid rgba(151, 151, 151, 0.07);
    box-shadow: inset -1px 0px 1px 0px rgba(0, 0, 0, 0.08);
}

.col-table span {
    font-weight: 700;
}

.col-table:first-child {
    width: 25%;
}

.icon-table {
    position: absolute;
    top: 20px;
    right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(40, 40, 40, 0.56);
}

.text {
    width: 19%;
    text-align: center;
    font-size: 21px;
}

.space-letter {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
}

.boder-table {
    padding-top: 33px;
    padding-left: 56px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border-top: solid 1px rgba(151, 151, 151, 0.07);
    border-left: solid 1px rgba(151, 151, 151, 0.07);
    height: 60px;
    letter-spacing: 1px;
    font-weight: 600;
}

.row.row-select {
    margin-left: 0px;
    margin-right: 0px;
    height: 60px;
}

.row-select {
    height: 50px;
    border-left: solid 2px rgba(151, 151, 151, 0.07);
    /* border-right: solid 1px rgba(151, 151, 151, 0.07);
    box-shadow: inset -1px 0px 1px 0px rgba(0, 0, 0, 0.08); */
    margin-top: -19px;
    padding-left: 44px;
    padding-top: 10px;
}

.back-title {
    background-color: #ebebeb;
    height: 80px;
}

.background-11 {
    background-color: #ebebeb;
}

.bg-white {
    background-color: rgba(235, 235, 235, 0.26);
    border-right: solid 1px rgba(151, 151, 151, 0.07);
    box-shadow: inset -1px 0px 1px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}

.pos-default {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #D0D6D9;
    font-size: 16px;
}

.pos-default-2 {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #D0D6D9;
    font-size: 16px;
}

.table-title-left {
    position: relative;
    font-weight: bold;
    color: #757575;
}

.table-subtible {
    height: 56px;
    vertical-align: middle;
}

.content-table {
    display: block;
    width: 100%;
}

.font-text {
    font-size: 21px;
}

.no-color {
    color: #fff;
}

.center-td {
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
    font-weight: 300;
}

.background-2 {
    background-color: #fff;
}

.result-modal span {
    font-weight: 700;
    color: #f00;
}

.right-10 {
    margin-right: 10px;
}

.left-10 {
    margin-left: 10px;
}

.mTop-8 {
    margin-top: -8px;
}

.mTop-10 {
    margin-top: -10px;
}
td .pos-default-modal {
    position: absolute;
    margin-top: -50px;
    padding: 5px;
    color: #D0D6D9;
    font-size: 16px;
}

