<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="row nav-row">
        <div class="col-md-3 bg-color-nav">
            <a class="navbar-brand"> <img src="assets/favicon.png" alt="" height="35px">
                <label class="global-p">Global Partnership</label>
                <br>
                <label class="for-p">for effective development cooperation</label>
            </a>
            <i class="mdi mdi-information i-p" popover="Global Partnership monitoring data can be displayed by country or organisation for a specific year and / or indicator.
                Available data may also be filtered by region, income group or country context." placement="bottom" triggers="mouseenter:mouseleave">

          </i>
        </div>
        <div class="col-m-8 col-wd">
            <p> {{ !indicator ? mapTitle : '' }} &nbsp;</p>
        </div>
        <div class="col-md-1 bg-color-nav">
            <button type="button" class="btn btn-tutorial" (click)="openModal(tuto)"> <i class="mdi mdi-play" ></i> Tutorial </button>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->

<div class="content-main body-height">
    <!-- Lado izquierdo cabecera -->
    <div class="side-l-main">

        <p class="subtitle">
            On this tab, Global Partnership monitoring data can be displayed by country or organisation for a specific year and / or indicator. Available data may also be filtered by region, income group or country context.
        </p>
        <div class="year-indicator">
            <p class="float-l space-letter"><i class="mdi mdi-calendar"></i> 1. SELECT YEAR</p>
            <p class="float-r"><i class="mdi mdi-information"></i></p>
        </div>
        <hr>
        <div class="btn-indicator">
            <div class="float-l radio-btn">
                <label *ngFor="let title of titles" [ngClass]="{'radio-label-checked' : model.year.year == title.year}">
										<input type="radio" name="radio-btn" [value]="title" [checked]="title.year == model.year.year" [(ngModel)]="model.year"/>
										{{title.year}}
								</label>
            </div>
            <a href="#" class="float-r btn-year-icon"><i class="mdi mdi-arrow-down-bold-box-outline"></i></a>
        </div>
    </div>
    <!-- Lado derecho cabecera -->
    <div class="side-r-main">

        <div class="links">
            <a [routerLink]="['/']" href="" class="link-a"><img src="../../assets/0005-gray.png" alt="" srcset=""> <span>First</span></a>
            <a [routerLink]="['/country']" href="" class="link-a active"><img src="../../assets/001-white.png" alt="" srcset=""> <span>Country Comparision</span></a>
            <a [routerLink]="['/partner']" href="" class="link-a"><img src="../../assets/002.png" alt="" srcset=""> <span>Second</span></a>
            <a [routerLink]="['/partner']" href="" class="link-a"><img src="../../assets/003.png" alt="" srcset=""> <span>Third</span></a>
            <a [routerLink]="['/partner']" href="" class="link-a"><img src="../../assets/004.png" alt="" srcset=""> <span>Four</span></a>
        </div>

        <p class="select-indicator top-10 boder-table">2. SELECT TWO COUNTRIES TO COMPARE RESULTS: <i class="mdi mdi-information"></i></p>
        <div class="row-select">
            <div class="col-md-9">
                <div class="row with-placeholder-conutry">
                    <div class="col-md-4 padding-dd-03">
                        <ng-select (deselected)="onDeselected($event,'first')" (selected)="onSelectedCountry($event, 'first')" [(ngModel)]="countryComparer.firstCountry" [allowClear]="true" placeholder="Select country" [options]="countrySelectors[(year === '2014' ? 0 : 1)]['value']"></ng-select>
                    </div>
                    <div class="col-md-4 padding-dd-04">
                        <ng-select (deselected)="onDeselected($event,'second')" (selected)="onSelectedCountry($event, 'second')" [allowClear]="true" placeholder="Select country" [(ngModel)]="countryComparer.secondCountry" [options]="countrySelectors[(year === '2014' ? 0 : 1)]['value']"></ng-select>
                    </div>

                    <div class="col-md-4 padding-dd-05">
                        <ng-select [allowClear]="true" placeholder="Select Aggregate" [(ngModel)]="countryComparer.aggregate" [options]="countrySelectors[2]['value']"></ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-select">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 title-select">
                        <span>{{countryComparer.firstCountry ? countryComparer.firstCountry : 'Country'}}</span>
                    </div>
                    <div class="col-md-4 title-select">
                        <span>{{countryComparer.secondCountry ? countryComparer.secondCountry : 'Country'}}</span>
                    </div>
                    <div class="col-md-4 title-select">
                        <span>{{countryComparer.aggregate ? countryComparer.aggregate : 'Aggregate'}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="content-table">
    <!-- Fila titulo -->
    <div class="row-table-title">
        <div class="col-table">
        </div>
        <div class="col-table w-17"></div>
        <div class="col-table w-17"></div>
        <div class="col-table w-17"></div>
    </div>
    <!-- Fila para mostrar resultado -->




    <div class="row">
        <div class="col-md-12 background-table">
            <table class="table table-sm table-space" *ngFor="let indicator of model.year.categories">
                <tr class="border-bottom-1">
                    <div *ngIf="tabsToShow(indicator.id); then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <td class="table-title-left background-11" width="25%" *ngIf="hasSubCountry(indicator)">
                            <!-- Show indicator 1 tp 4 without displaing data -->
                            <p>
                                {{indicator.comparison}}
                            </p>
                            <i class="mdi mdi-information mdi-cursor pos-default" (click)="findViewerCategory(indicator,indicator.subcategories[0],false,true);openModal(template)"></i>
                        </td>
                        <td width="75%" colspan="3" class="table-result center-td background-2 no-padding" *ngIf="hasSubCountry(indicator)">
                            <div class="back-title"></div>
                        </td>
                    </ng-template>
                    <ng-template #elseBlock>
                        <!-- Show rows of indicators 5 - 10 and displays data of them  -->
                        <td class="table-title-left bg-white" width="25%" *ngIf="availableCountryRow(indicator)">
                            <p>
                                {{indicator.comparison}}
                            </p>
                            <i class="mdi mdi-information mdi-cursor pos-default" (click)="findViewerCategory(indicator,null, false, true);openModal(template)"></i>
                        </td>
                        <td width="25%" class="table-result center-td background-2" [innerHTML]="getLabelCountry(indicator, 'firstCountry')" *ngIf="availableCountryRow(indicator)"></td>
                        <td width="25%" class="table-result center-td" [innerHTML]="getLabelCountry(indicator, 'secondCountry')" *ngIf="availableCountryRow(indicator)"></td>
                        <td width="25%" class="table-result center-td" [innerHTML]="getLabelCountry(indicator, 'aggregate')" *ngIf="availableCountryRow(indicator)"></td>
                    </ng-template>
                </tr>
                <!-- Show row of subcategories of all indicators-->
                <tr class="border-bottom-1" *ngFor="let subcategory of indicator.subcategories">
                    <td width="25%" class="table-subtible bg-white" *ngIf="availableCountryRow(subcategory)">
                        <p id="{{getLabelCountry(subcategory, 'firstCountry')}}">
                            {{subcategory.comparison}}
                            <i class="mdi mdi-information mdi-cursor pos-default-2" (click)="findViewerCategory(indicator,subcategory,true,false);openModal(template)"></i>
                        </p>
                    </td>
                    <!-- partner comparison -->
                    <td width="20%" class="table-result center-td background-2" [innerHTML]="getLabelCountry(subcategory, 'firstCountry')" *ngIf="availableCountryRow(subcategory)"></td>
                    <td width="20%" class="table-result center-td background-2" [innerHTML]="getLabelCountry(subcategory, 'secondCountry')" *ngIf="availableCountryRow(subcategory)"></td>
                    <td width="20%" class="table-result center-td background-2" [innerHTML]="getLabelCountry(subcategory, 'aggregate')" *ngIf="availableCountryRow(subcategory)"></td>
                    <td width="15%" class="table-result center-td background-2"></td>
                </tr>
            </table>
        </div>
        <!-- Fila para mostrar resultado 
        <div class="row-table">
            <div class="col-table r-boder">
                % of new development interventions that draw objectives from country-led results frameworks
                <a href="#" class="icon-table"><i class="mdi mdi-information"></i></a>
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table"></div>
        </div>-->
        <!-- Fila para mostrar resultado 
        <div class="row-table">
            <div class="col-table r-boder">
                % of new development interventions that draw objectives from country-led results frameworks
                <a href="#" class="icon-table"><i class="mdi mdi-information"></i></a>
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table"></div>
        </div>-->
        <!-- Fila para mostrar resultado 
        <div class="row-table">
            <div class="col-table r-boder">
                % of new development interventions that draw objectives from country-led results frameworks
                <a href="#" class="icon-table"><i class="mdi mdi-information"></i></a>
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table"></div>
        </div>-->

        <!-- Fila titulo
        <div class="row-table-title">
            <div class="col-table">
                <span>Indicator 2a:</span> Do development partners use countries' own results frameworks and evaluation processes?
                <a href="#" class="icon-table"><i class="mdi mdi-information"></i></a>
            </div>
            <div class="col-table"></div>
            <div class="col-table"></div>
            <div class="col-table"></div>
        </div> -->
        <!-- Fila para mostrar resultado 
        <div class="row-table">
            <div class="col-table r-boder">
                % of new development interventions that draw objectives from country-led results frameworks
                <a href="#" class="icon-table"><i class="mdi mdi-information"></i></a>
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table"></div>
        </div>-->
        <!-- Fila para mostrar resultado 
        <div class="row-table">
            <div class="col-table r-boder">
                % of new development interventions that draw objectives from country-led results frameworks
                <a href="#" class="icon-table"><i class="mdi mdi-information"></i></a>
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                94.1%
            </div>
            <div class="col-table text">
                No data available
            </div>
            <div class="col-table"></div>
        </div>-->

    </div>