<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="row nav-row">
    <div class="col-md-3 bg-color-nav">
      <a class="navbar-brand">
        <img src="assets/favicon.png" alt="" height="35px">
        <label class="global-p">Global Partnership</label>
        <br>
        <label class="for-p">for Effective Development Co-operation</label>
      </a>
      <!-- <i class="mdi mdi-information i-p"
              popover="Global Partnership monitoring data can be displayed by country or organisation for a specific year and / or indicator.
                Available data may also be filtered by region, income group or country context."
              placement="bottom"
              triggers="mouseenter:mouseleave">
      </i> -->
    </div>
    <div class="col-m-6 col-wd">
      <p> {{ !indicator ? mapTitle : '' }} &nbsp;</p>
    </div>
    <div class="col-md-2 " >
       <a class="navbar-brand logo-navbar">
        <img class="img-responsive" src="assets/E_SDG_logo_with_UN_Emblem_horizontal_rgb.png" alt="" width="100%" height="22px">
      </a> 
    </div>
    <div class="col-md-1 bg-color-nav">
      <button type="button" class="btn btn-tutorial" (click)="openModal(tuto)">
        <i class="mdi mdi-play"></i> Tutorial </button>
    </div>
  </div>
</nav>
<!-- NAVBAR END -->

<!-- MODAL TUTORIAL -->
<template #tuto class="">
  <div class="modal-tutorial">
    <div class="modal-header">
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <tabset [vertical]="true" type="pills">
        <tab heading="Welcome!" [active]="tutorial[0]" (select)="selectTutorial(0)">
          <img src="assets/01.png" alt="" class="modal-img"> First time exploring Global Partnership monitoring data? Our 30-second tutorial will teach you how to use this
          interactive data visualization tool.
        </tab>
        <tab heading="Map Overview" [active]="tutorial[1]" (select)="selectTutorial(1)">
          <img src="assets/02.png" alt="" class="modal-img"> Click and drag the mouse or use the +/- zoom buttons to change the map’s focus. You can also choose a Small State
          from the dropdown to zoom directly to its location.
        </tab>
        <tab heading="Comparison Screens" [active]="tutorial[2]" (select)="selectTutorial(2)">
          <img src="assets/03.png" alt="" class="modal-img"> Toggle between the Map Viewer, Country Comparison and Partners Comparison tabs via the buttons on the upper left-hand
          side of the map
        </tab>
        <tab heading="Map Viewer Tab" [active]="tutorial[3]" (select)="selectTutorial(3)">
          <img src="assets/04.png" alt="" class="modal-img"> Change the map’s display according to year and indicator on the left-hand panel, where you can also filter by
          various criteria. Clicking on a country will activate a pop-up displaying all available data for the selected year.
        </tab>
        <tab heading="Legend" [active]="tutorial[4]" (select)="selectTutorial(4)">
          <img src="assets/05.png" alt="" class="modal-img"> On the Map Viewer tab, a legend shows the map's color key and corresponding range for each indicator. More information
          on what is measured by each indicator can be accessed by hovering over the legend’s information icon.
        </tab>
        <tab heading="“What does this indicator measure?” Button" [active]="tutorial[5]" (select)="selectTutorial(5)">
          <img src="assets/06.png" alt="" class="modal-img"> To learn more about the purpose and methodology for a selected indicator, click on the “What does this indicator
          measure?” button.
        </tab>
        <tab heading="More Information and Country Profiles" [active]="tutorial[6]" (select)="selectTutorial(6)">
          <img src="assets/07.png" alt="" class="modal-img"> Clicking on a country will access a pop-up which gives a full picture of monitoring results for the selected year,
          including a PDF Country Profile for all partner countries (2016 only).
        </tab>
        <tab heading="Country Comparison Tab" [active]="tutorial[7]" (select)="selectTutorial(7)">
          <img src="assets/08.png" alt="" class="modal-img"> On the Country Comparison tab, you can compare monitoring data across two participating countries, or against
          aggregates by region or country context.
        </tab>
        <tab heading="Partners Comparison Tab" [active]="tutorial[8]" (select)="selectTutorial(8)">
          <img src="assets/09.png" alt="" class="modal-img"> On the Partners Comparison tab, you can compare monitoring data across participating development partners, including
          bilateral donors, UN agencies and international organisations, or against aggregates by type of partner.
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-modal" name="button" (click)="continueTutorial()">Continue</button>
        </div>
        <div class="col-md-8 modal-logo">
          <img _ngcontent-c0="" alt="" class="logo-modal panel-1" src="assets/logo-h.png">
        </div>
      </div>
    </div>
  </div>
</template>
<!-- END MODAL TUTORIAL -->