<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="row nav-row nav-tool">
    <div class="col-md-3 bg-color-nav" tooltip="The Global Partnership for Effective Development Co-operation is a multi-stakeholder platform to advance the effectiveness of development efforts by all stakeholders, and to deliver results that are long-lasting and contribute to the achievement of the Sustainable Development Goals."
    placement="bottom">
      <a target="_blank" href="http://www.effectivecooperation.org/" class="navbar-brand" >
        <img src="assets/favicon.png" alt="" height="35px" >
        <label class="global-p">Global Partnership</label>
        <br>
        <label class="for-p">for Effective Development Co-operation</label>
      </a>
      <!-- <i class="mdi mdi-information i-p"
              popover="Global Partnership monitoring data can be displayed by country or organisation for a specific year and / or indicator.
                Available data may also be filtered by region, income group or country context."
              placement="bottom"
              triggers="mouseenter:mouseleave">
      </i> -->
    </div>
    <div class="col-m-6 col-wd">
      <p [ngClass]="alinear()" > {{mapTitle}} &nbsp;</p>
    </div>
    <div class="col-md-2 " >
       <a class="navbar-brand logo-navbar nav-tool">
        <img class="img-responsive" src="assets/SDG-Logo.png" class="img-fluid" alt="Responsive image"  tooltip="The Global Partnership’s monitoring framework provides evidence to follow up and review of SDG target 17.16.1 on multi-stakeholder monitoring for increased development effectiveness."
        placement="bottom">
      </a>
    </div>
    <div class="col-md-1 bg-color-nav">
      <button type="button" class="btn btn-tutorial" (click)="openModal(tuto)">
        <i class="mdi mdi-play"></i> Tutorial </button>
    </div>
  </div>
</nav>
<!-- NAVBAR END -->

<!-- MODAL TUTORIAL -->
<template #tuto class="">
  <div class="modal-tutorial">
    <div class="modal-header">
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <tabset [vertical]="true" type="pills">
        <tab heading="Welcome!" [active]="tutorial[0]" (select)="selectTutorial(0)">
          <img src="assets/tutorial/1.png" alt="" class="modal-img"> First time exploring Global Partnership monitoring data? Our one minute tutorial will teach you how to use this interactive data visualization tool.
        </tab>
        <tab heading="Dashboard Overview" [active]="tutorial[1]" (select)="selectTutorial(1)">
          <img src="assets/tutorial/2.png" alt="" class="modal-img"> Toggle between tabs to explore different aspects of Global Partnership monitoring data.
        </tab>
        <tab heading="“What does this indicator measure?”" [active]="tutorial[2]" (select)="selectTutorial(2)">
          <img src="assets/tutorial/3.png" alt="" class="modal-img"> To learn more about the methodology for a selected indicator, click on the “What does this indicator measure?” button.
        </tab>
        <tab heading="Sustainable Development Goals (SDG) icons" [active]="tutorial[3]" (select)="selectTutorial(3)">
          <img src="assets/tutorial/4.png" alt="" class="modal-img"> Hover over an SDG icon to read more about the relationship between Global Partnership indicators and SDG follow-up and review.
        </tab>
        <tab heading="Map Viewer Tab" [active]="tutorial[4]" (select)="selectTutorial(4)">
          <img src="assets/tutorial/5.png" alt="" class="modal-img"> Using the left-hand panel, view global results by year, indicator or country context.
        </tab>
        <tab heading="Selecting a Country or Territory" [active]="tutorial[5]" (select)="selectTutorial(5)">
          <img src="assets/tutorial/6.png" alt="" class="modal-img"> Click and drag the mouse or use the zoom buttons to change the map’s focus. <br>
          Search for a participating country in the “View all countries / territories” dropdown to zoom directly to its location.
        </tab>
        <tab heading="More Information and Country Profiles" [active]="tutorial[6]" (select)="selectTutorial(6)">
          <img src="assets/tutorial/7.png" alt="" class="modal-img"> Click on a country to access a full picture of its monitoring results for the selected year, including a PDF Country Profile for all partner countries (2016 only).
        </tab>
        <tab heading="Country and Partner Comparison Tabs" [active]="tutorial[7]" (select)="selectTutorial(7)">
          <img src="assets/tutorial/8.png" alt="" class="modal-img"> Compare results for two participating countries, or against averages by region or country context on the Country Comparison tab. On the Partner Comparison tab, compare results
          for two participating development partners, or against averages by type of partner, including bilateral donors, UN agencies and international organisations.
        </tab>
        <tab heading="Country-Level Analysis Tab" [active]="tutorial[8]" (select)="selectTutorial(8)">
          <img src="assets/tutorial/9.png" alt="" class="modal-img"> On the Country-Level Analysis tab, development partners’ performance can be examined at the country-level, including by exploring historical trends.
        </tab>
        <tab heading="Partner-Level Analysis Tab" [active]="tutorial[9]" (select)="selectTutorial(9)">
          <img src="assets/tutorial/10.png" alt="" class="modal-img"> On the Partner-Level Analysis tab, development partners’ performance can be examined across all countries who reported on their engagement, including by exploring historical trends.
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-modal" name="button" (click)="continueTutorial()">Continue</button>
        </div>
        <div class="col-md-8 modal-logo">
          <img _ngcontent-c0="" alt="" class="logo-modal panel-1" src="assets/logo-h.png">
        </div>
      </div>
    </div>
  </div>
</template>
<!-- END MODAL TUTORIAL -->
