<!-- NAVBAR -->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <div class="row nav-row">
        <div class="col-md-3 bg-color-nav">
          <a class="navbar-brand"> <img src="assets/favicon.png" alt="" height="35px">
            <label class="global-p">Global Partnership</label>
            <br>
            <label class="for-p">for effective development cooperation</label>
          </a>
          <i class="mdi mdi-information i-p"
              popover="Global Partnership monitoring data can be displayed by country or organisation for a specific year and / or indicator.
                Available data may also be filtered by region, income group or country context."
              placement="bottom"
              triggers="mouseenter:mouseleave">

          </i>
        </div>
        <div class="col-m-8 col-wd">
          <p>  {{ !indicator ? mapTitle : '' }} &nbsp;</p>
        </div>
        <div class="col-md-1 bg-color-nav">
          <button type="button" class="btn btn-tutorial" (click)="openModal(tuto)" > <i class="mdi mdi-play" ></i> Tutorial </button>
        </div>
      </div>
    </nav>
<!-- NAVBAR END -->
