<!--The content below is only a placeholder and can be replaced.-->

<!-- INICIO Tab View -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-4">

            <div class="row result-space">

                <div class="col-12">
                    <p class="result-title-one">
                        Global Partnership for Effective Development<br/>
                        Co-operation
                    </p>
                    <p class="text-justify">
                        Sed ut Perspiciatis unde omnisite natus error sit voluptatem
                        accusantium doloermque laudantium, totoam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae.
                    </p>
                </div>

            </div>

            <div class="row result-background">

                <div class="col-12">
                    <p class="result-subtitle">View Data by :</p>
                    <div class="container-button-data">
                        <a href="" class="active">2014</a>
                        <a href="" class="not-active">2016</a>
                    </div>
                </div>

                <div class="col-12">
                    <p class="result-subtitle">Indicator <i class="mdi mdi-information"></i></p>
                    <div class="option-style">
                        <a href="#">1: Developement co-operation is focused on... <span><i class="mdi mdi-chevron-down"></i></span></a>
                    </div>
                </div>

                <div class="col-12">
                    <p>Show contries with the following criteria:</p>
                    <p>Region</p>
                    <div class="option-style">
                        <a href="#">Southeast Asia <span><i class="mdi mdi-chevron-down"></i></span></a>
                    </div>
                </div>

                <div class="col-12">
                    <p>Income</p>
                    <div class="option-style">
                        <a href="#">Low Incomez <span><i class="mdi mdi-chevron-down"></i></span></a>
                    </div>
                </div>

                <div class="col-12">
                    <p>Group Name <i class="mdi mdi-information"></i></p>
                    <div class="option-style">
                        <a href="#">Low Incomez <span><i class="mdi mdi-chevron-down"></i></span></a>
                    </div>
                </div>

                <div class="col-12">
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                    <p>AUX P</p>
                </div>

            </div>

        </div>
        <div class="col-8 map-container">
            <div class="map-header">
                <p>Development co-operation is focused on results that meet developing countries' priorities</p>
            </div>
            <img src="../assets/map-new-screen-1.png" alt="" width="100%">

            Botones para el tab
            <div class="view-tab">
                <a href="#"><i class="mdi mdi-view-quilt"></i><p>View</p></a>
            </div>
            <div class="default-tab">
                <a href="#"><i class="mdi mdi-chart-bar"></i><p>Analysis</p></a>
            </div>

        </div>
    </div>
</div> -->
<!-- FIN Tab View -->

<!-- INICIO Tab Analysis -->
<div class="container-fluid">
    <div class="row">
        <div class="col-4" style="padding-left:0px;">

            <div class="result-container">

                <div class="row result-space">
                    <div class="col-12">
                        <p class="result-title-one">
                            Global Partnership for Effective Development<br/>
                            Co-operation
                        </p>
                        <p class="text-justify">
                            Sed ut Perspiciatis unde omnisite natus error sit voluptatem
                            accusantium doloermque laudantium, totoam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae.
                        </p>
                    </div>

                </div>

                <div class="row result-background">

                    <div class="col-12">
                        <p class="result-subtitle">Compare Contries by indicator <i class="mdi mdi-information"></i></p>
                        <div class="container-button-data">
                            <a href="" class="active">2014</a>
                            <a href="" class="not-active">2016</a>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="result-subtitle">Select two conutries from the map or type their names: <i class="mdi mdi-information"></i></p>
                        <div class="option-input">
                            <div class="form-group">
                                <input type="text" class="form-control left" placeholder="Enter email">
                                <input type="text" class="form-control right" placeholder="Enter email">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>Show contries with the following criteria:</p>
                        <p>Region</p>
                        <div class="option-style">
                            <a href="#">Southeast Asia <span><i class="mdi mdi-chevron-down"></i></span></a>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>Income</p>
                        <div class="option-style">
                            <a href="#">Low Incomez <span><i class="mdi mdi-chevron-down"></i></span></a>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>Group Name <i class="mdi mdi-information"></i></p>
                        <div class="option-style">
                            <a href="#">Low Incomez <span><i class="mdi mdi-chevron-down"></i></span></a>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                        <p>AUX P</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-8 map-container">
            <div class="map-header">
                <p>Development co-operation is focused on results that meet developing countries' priorities</p>
            </div>
            <!-- <img src="../assets/map-new-screen-1.png" alt="" width="100%"> -->

            <!-- Botones para el tab -->
            <div class="view-tab">
                <a href="#"><i class="mdi mdi-view-quilt"></i><p>View</p></a>
            </div>
            <div class="default-tab">
                <a href="#"><i class="mdi mdi-chart-bar"></i><p>Analysis</p></a>
            </div>

        </div>
    </div>
</div>
<!-- FIN Tab Analysis -->
