<!--The content below is only a placeholder and can be replaced.-->
<!-- Contenedor general -->
    <div class="container-fluid">
        <div class="row">
            <!-- INICIO Sidebar -->
                <div class="col-md-4 padding-left-none with-scroll" id="div1"><!-- Cambiar a col-md-7 cuando sea el segundo tab countrie -->
                  <div class="filtros-tab">
                    <!-- Contenedor tab -->
                    <tabset [vertical]="true" type="pills">

                        <tab heading="">
                            <!-- BOTON TAB VIEW -->
                            <template tabHeading>
                                <i class="mdi mdi-view-quilt" id="tab1" (click)="selectTab($event)"></i>
                                <span (click)="selectTab($event)" id="tab1" class="ocultar">Map Viewer</span>
                            </template>
                            <!-- BOTON TAB VIEW -->

                            <div class="result-container">
                                <div class="row logo">
                                    <div class="col-md-12">
                                        <img class="logo panel-1" src="assets/logo-h.png" alt="">
                                    </div>
                                </div>

                                <div class="row logo">
                                    <div class="col-md-12">
                                        <p class="result-text">
                                            Established in 2012, the Global Partnership’s voluntary and country-led monitoring framework tracks development stakeholders’ progress towards more effective development co-operation based on the agreed development effectiveness principles of country ownership; a focus on results; inclusive partnerships; and transparency and mutual accountability to one another.
                                        </p>
                                    </div>
                                </div>

                                <div class="row padding-top-background">
                                    <div class="col-md-12"><!-- col-md-4 -->
                                        <p class="result-subtitle space-view-data">Select year
                                            <i class="mdi mdi-information"
                                                popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                placement="right">
                                            </i>
                                        </p>
                                    </div>
                                    <div class="col-md-12 btn-year"><!-- col-md-8 -->
                                        <div class="radio" (click)="updateYear($event.target.value)">
                                            <input value="2014" type="radio" name="radio-btn" id="one" />
                                            <label for="one">2014</label>
                                            <input value="2016" type="radio" name="radio-btn" id="two" [checked] = true/>
                                            <label for="two" class="right-btn">2016</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 border-bottom">
                                        <div class="form-group style-select">
                                            <label for="inputState" class="result-subtitle space-indicator">Indicator
                                                <i class="mdi mdi-information"
                                                    popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                    placement="right">
                                                </i>
                                            </label>
                                            <select (click) = "indTitleSelect($event.target.value)" id="inputState" class="form-control">
                                                <option value = "{{item[1]}}"*ngFor="let item of filterItemsOfType()">{{item[2]}}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row padding-top-line">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="inputState" class="result-subtitle space-line">Filter countries by:
                                                <i class="mdi mdi-information"
                                                    popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                    placement="right">
                                                </i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><!-- col-md-6 -->
                                        <div class="form-group style-select">
                                            <label for="inputState" class="result-subtitle">Region
                                                <i class="mdi mdi-information"
                                                    popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                    placement="right">
                                                </i>
                                            </label>
                                            <select id="inputState" class="form-control">
                                                <option selected>Select Region</option>
                                                <option>Africa</option>
                                                <option>East Asia</option>
                                                <option>Eastern Europe and Central Asia</option>
                                                <option>Latin America and the Caribbean</option>
                                                <option>Pacific</option>
                                                <option>South Asia</option>
                                                <option>Southeast Asia Souteast Asia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12"><!-- col-md-4 -->
                                        <div class="form-group style-select">
                                            <label for="inputState" class="result-subtitle">Income Group
                                                <i class="mdi mdi-information"
                                                    popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                    placement="right">
                                                </i>
                                            </label>
                                            <select id="inputState" class="form-control">
                                                <option selected>Select Income Group</option>
                                                <option>Low Income</option>
                                                <option>Lower middle income</option>
                                                <option>Upper middle income</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 border-bottom">
                                        <div class="form-group style-select">
                                            <label for="inputState" class="result-subtitle">Country context
                                                <i class="mdi mdi-information"
                                                    popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                    placement="right">
                                                </i>
                                            </label>
                                            <select id="inputState" class="form-control">
                                                <option selected>Select Country Context</option>
                                                <option>Least Developed Countries (LDC)</option>
                                                <option>Small Island Developing States (SIDS)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row padding-top-line">
                                    <div class="col-md-12">
                                        <p class="result-subtitle-one">Compare Scores by Development partners
                                            <i class="mdi mdi-information"
                                                popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                placement="right">
                                            </i>
                                            <br><span>In alphabetical order</span></p>
                                        <p class="result-subtitle p-none-space"></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-sm table-space">
                                            <thead>
                                                <tr>
                                                    <th width="44%"></th>
                                                    <th width="56%" class="title-table">Indicator&nbsp;1&nbsp;(Alignment&nbsp;in&nbsp;objectives)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="result-table-letter">Adaptation fund</td>
                                                    <td class="result-table-number">89%</td>
                                                </tr>
                                                <tr>
                                                    <td class="result-table-letter">African&nbsp;develpment&nbsp;bank&nbsp;(afdb)</td>
                                                    <td class="result-table-number">32%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </tab>

                        <!-- tab analysis -->
                        <tab heading="">
                            <!-- Boton tab  -->
                            <template tabHeading>
                                <i class="mdi mdi-chart-bar" id="tab2" (click)="selectTab($event)"></i>
                                <span id="tab2" (click)="selectTab($event)" class="ocultar">Country Comparison</span>
                            </template>

                            <div class="result-container">

                                <div class="row logo">
                                    <div class="col-md-7">
                                        <img class="logo" src="assets/logo-h.png" alt="">
                                    </div>
                                    <div class="col-md-4 text-right margin-top-btn">
                                        <a href="#" class="btn-export">EXPORT</a>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="description">
                                            <span>Compare Indicators Acrosss Organizations: </span>Sed ut Perspiciatis unde omnisite natus error sit voluptatem accusantium doloermque laudantium, totoam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                                        </p>
                                    </div>
                                </div>

                                <div class="row"><div class="col-md-1"></div><div class="col-md-10 border-bottom"></div></div>

                                <div class="row">
                                    <div class="col-md-4 space-line-1">
                                        <p class="result-subtitle width-popup">1. Select indicator year
                                            <i class="mdi mdi-information"
                                                popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                placement="right">
                                            </i>
                                        </p>
                                    </div>
                                    <div class="col-md-8 space-line-1">
                                        <p class="result-subtitle space-left">2. Select two countries from the map or type their names: </p>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-3 btn-year">
                                        <div class="radio">
                                            <input type="radio" name="radio-btn-panel-2" id="panel-2-2014" />
                                            <label for="panel-2-2014">2014</label>
                                            <input type="radio" name="radio-btn-panel-2" id="panel-2-2016" checked />
                                            <label for="panel-2-2016" class="right-btn">2016</label>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="option-input">
                                                    <!-- <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Country A">
                                                    </div> -->
                                                    <div class="form-group">
                                                        <input type="text" id="default" list="country_a" class="form-control" placeholder="Country A">
                                                        <datalist id="country_a">
                                                            <option value="Bolivia">
                                                            <option value="Ecuador">
                                                            <option value="Venezuela">
                                                            <option value="Chile">
                                                            <option value="Paraguay">
                                                            <option value="Brasil">
                                                            <option value="Peru">
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="option-input">
                                                    <div class="form-group">
                                                        <input type="text" id="default" list="country_b" class="form-control" placeholder="Country B">
                                                        <datalist id="country_b">
                                                            <option value="Bolivia">
                                                            <option value="Ecuador">
                                                            <option value="Venezuela">
                                                            <option value="Chile">
                                                            <option value="Paraguay">
                                                            <option value="Brasil">
                                                            <option value="Peru">
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-4">
                                                <div class="option-input">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Country B">
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-md-4">
                                                <div class="form-group style-select">
                                                    <select id="inputState" class="form-control color-input">
                                                        <option selected>SELECT AGGREGATE</option>
                                                        <option>Option One</option>
                                                        <option>Option Two</option>
                                                        <option>Option Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 background-table">
                                        <table class="table table-sm table-space">
                                            <tr class="border-bottom-1">
                                                <td class="table-title-left background-1" width="25%">
                                                    <p>
                                                        <span>INDICATOR 1A. </span>
                                                        Development co-operation is focused on<br>results&nbsp;that&nbsp;meet&nbsp;developing<br>countries'&nbsp;priorities
                                                    </p>
                                                </td>
                                                <td width="25%" class="background-2"></td>
                                                <td width="25%"></td>
                                                <td width="25%"></td>
                                            </tr>
                                            <tr class="border-bottom-1">
                                                <td class="table-subtible background-1">
                                                    <p>% of new develpment ingervations that draw objectives from country-led results framework</p>
                                                </td>
                                                <td class="table-result center-td background-2">
                                                    Alignment in<br>Objectives: 89%
                                                </td>
                                                <td class="table-result center-td background-2">
                                                    Alignment in<br>Objectives: 89%
                                                </td>
                                                <td class="table-result center-td background-2">
                                                    Alignment in<br>Objectives: 89%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </tab>
                        <!-- tab analysis -->

                        <!-- tab analysis -->
                        <tab heading="">
                            <!-- Boton tab  -->
                            <template tabHeading>
                                <span><!--class="rotate"--><i class="mdi mdi-hexagon-multiple" id="tab3" (click)="selectTab($event)"></i></span>
                                <span id="tab3" (click)="selectTab($event)" class="ocultar">Partners Comparison</span>
                            </template>

                            <div class="result-container">
                                <div class="row logo">
                                    <div class="col-md-7">
                                        <img class="logo" src="assets/logo-h.png" alt="">
                                    </div>
                                    <div class="col-md-4 text-right margin-top-btn">
                                        <a href="#" class="btn-export">EXPORT</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="description">
                                            <span>Compare Indicators Acrosss Organizations: </span>Sed ut Perspiciatis unde omnisite natus error sit voluptatem accusantium doloermque laudantium, totoam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                                        </p>
                                    </div>
                                </div>

                                <div class="row"><div class="col-md-1"></div><div class="col-md-10 border-bottom"></div></div>

                                <div class="row">
                                    <div class="col-md-4 space-line-1">
                                        <p class="result-subtitle width-popup">1. Select indicator year
                                            <i class="mdi mdi-information"
                                                popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                                                placement="right">
                                            </i>
                                        </p>
                                    </div>
                                    <div class="col-md-8 space-line-1">
                                        <p class="result-subtitle space-left">2. Select two countries from the map or type their names: </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 btn-year">
                                        <div class="radio">
                                            <input type="radio" name="radio-btn-panel-3" id="panel-3-2014" />
                                            <label for="panel-3-2014">2014</label>
                                            <input type="radio" name="radio-btn-panel-3" id="panel-3-2016" checked />
                                            <label for="panel-3-2016" class="right-btn">2016</label>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="option-input">
                                                    <!-- <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="ORGANIZATION A">
                                                    </div> -->
                                                    <div class="form-group">
                                                        <input type="text" id="default" list="organization_1" class="form-control" placeholder="ORGANIZATION A">
                                                        <datalist id="organization_1">
                                                            <option value="ORGANIZATION 1">
                                                            <option value="ORGANIZATION 2">
                                                            <option value="ORGANIZATION 3">
                                                            <option value="ORGANIZATION 4">
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="option-input">
                                                    <!-- <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="ORGANIZATION A">
                                                    </div> -->
                                                    <div class="form-group">
                                                        <input type="text" id="default" list="organization_2" class="form-control" placeholder="ORGANIZATION B">
                                                        <datalist id="organization_2">
                                                            <option value="ORGANIZATION 1">
                                                            <option value="ORGANIZATION 2">
                                                            <option value="ORGANIZATION 3">
                                                            <option value="ORGANIZATION 4">
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 background-table">
                                        <table class="table table-sm table-space table-2">
                                            <tr class="border-bottom-1">
                                                <td class="table-title-left background-1" width="20%">
                                                    <p>
                                                        <span>INDICATOR 1A. </span>
                                                        Development co-operation is focused on<br>results&nbsp;that&nbsp;meet&nbsp;developing<br>countries'&nbsp;priorities
                                                    </p>
                                                </td>
                                                <td width="40%" class="background-2"></td>
                                                <td width="40%"></td>
                                            </tr>
                                            <tr class="border-bottom-1">
                                                <td class="table-subtible background-1">
                                                    <p>% of new develpment ingervations that draw objectives from country-led results framework</p>
                                                </td>
                                                <td class="table-result center-td background-2">
                                                    Alignment in<br>Objectives: 89%
                                                </td>
                                                <td class="table-result center-td background-2">
                                                    Alignment in<br>Objectives: 89%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-subtible background-1">
                                                    <p>% of results indicators drawn from country-</p>
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                                <td class="table-result center-td-1 background-2">
                                                    Alignment in<br>Objectives: 58%
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </tab>
                        <!-- tab analysis -->

                    </tabset>
                    <!-- Contenedor tab -->
                  </div>

                </div>
            <!-- FIN Sidebar -->

            <!-- INICIO Map -->
                <div class="col-md-8 border-div-none" id="div2"><!-- Cambiar a col-md-5 cuando sea el segundo tab countrie -->
                    <div class="map-header">
                      <p>  {{indicatorTitle}}</p>
                    </div>
                    <!-- CARD map -->
                    <div class="card-map">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="head-card">
                                    <p>UNITED STATES</p>
                                    <p>INDICATOR 1</p>
                                </div>

                                <div class="number-card">
                                    <div class="left-number">
                                        <p>13,233</p>
                                        <p>2014</p>
                                    </div>
                                    <div class="right-number">
                                        <p>23,032</p>
                                        <p>2016</p>
                                    </div>
                                </div>

                                <div class="content-card">
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                    </p>
                                </div>

                                <div class="button-card">
                                    <p>
                                        <a href="#">PROFILE</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- TAB MAP solo muestra cunado esta seleciona un pais-->
                    <div class="tab-map">
                      <tabset #staticTabs>
                        <tab heading="INDICATOR 1">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="1a">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="2">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="3">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="4">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="5a">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="5b">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="6">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="7">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="8">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="9a">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="9b">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </tab>
                        <tab heading="10">
                          :v :v :v :c
                        </tab>
                      </tabset>
                    </div>

                    <!-- <img src="assets/map-new-screen-1.png" alt="" width="100%"> -->
                    <!-- <iframe style="padding: 0px;" width="100%" height="90%"frameborder="0" src="https://undp.carto.com/u/undp-admin/builder/0b976f06-2a20-402c-ad37-68185f782ad3/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->
                    <div id="map"></div>
                    <!-- TAB MAP END -->


                </div>
            <!-- FIN Map -->
        </div>
    </div>


    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
<!-- Estilos de los modal -->
    <ng-template #template>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-10">
                      <p class="modal-title pull-left">What does this indicator measure?<br><span>indicator 1</span></p>
                  </div>
                  <div class="col-2">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              </div>
              <div class="row background-modal">
                  <div class="col-md-12">
                      <p class="result-modal">
                          This indicator measures the alignment of development partners' new
                          interventions with the objectives and results defined by countries
                          themselves. It also looks at development partners' reliance on countries'
                          own statistical and monitoring and evaluation processes to track progress.<br>
                          These are both fundamental aspectsof country ownership over the
                          development process. Data collection for this indicator focuses on the
                          portfolio of new development interventions approved during 2015 (equal
                          to or above USD 1 million).

                      </p>
                  </div>
              </div>
          </div>
      </div>
    </ng-template>
