<app-navbar [mapTitle]="title"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cc-mg">
      <div class="historical">
      <p>On this tab, development partners’ performance can be explored at the country level.
        Select a partner country and indicator to explore results for all development partners in a given year.
      </p>
      <p class="result-subtitle space-view-data"><span class="mdi mdi-calendar"></span> Select year
          <i class="mdi mdi-information"
              popoverTitle="Global Partnership monitoring data is available for the 2014 and 2016 monitoring rounds." popover="2005, 2007 and 2010 data are drawn from the Paris Declaration on Aid Effectiveness monitoring results, and is available for indicators with comparable methodology to Global Partnership monitoring."
              placement="right"
              triggers="mouseenter:mouseleave" >
          </i>
      </p>
      <div class="row no-gutters">
        <div class="col-md-11">
          <div class="radio">
            <label  *ngFor="let filter of filters" [ngClass]="{'radio-label-checked' : model.year == filter.year}">
              <input type="radio" name="radio-btn"  [value]="filter" [checked]="filter.year===model.year" [(ngModel)]="model" (change)='changeYear(model)'>
              {{filter.year}}
            </label>
          </div>
        </div>
        <div class="col-md-1 text-right margin-top-btn">
            <button class="btn btn-export-02" (click)="exportCsvViewer()" [disabled]="indicator || !mapTitle"> <i class="mdi mdi-download"></i> </button>
        </div>
      </div>
      <br>
      <!-- DEVELOPMENT -->
      <p class="result-subtitle space-view-data"><img src="assets/003.png" alt="" width="11px"> PARTNER COUNTRY
          <i class="mdi mdi-information"
              popover="Partner Countries include the low and middle-income countries who participated in Global Partnership monitoring."
              placement="right"
              triggers="mouseenter:mouseleave" >
          </i>
      </p>

      <div class="btn-group btn-dropdown" dropdown>
        <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
          <span class="font-selet-dropdown content-select-default">{{selectedCountry?selectedCountry:'Select Country'}}</span>
          <span class="dropdown-caret mdi mdi-chevron-down"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu style-default" role="menu">
          <li role="menuitem">
            <a class="dropdown-item contenido-dropdown" (click)="resetCountry()">
              Select Country
            </a>
          </li>

          <li *ngFor="let country of countries" role="menuitem">
              <a class="dropdown-item style-a-default" (click)="changeCountry(country.country)">
                  {{country.country}}
              </a>
          </li>
        </ul>
      </div>
      <br><br>
      <div class="form-group style-select" *ngIf="loadIndicators">
        <p for="inputState" class="result-subtitle space-indicator"><span class="mdi mdi-crosshairs-gps"></span> Indicator
            <i class="mdi mdi-information"
                popover="Choose one of the global Partnership’s ten current indicators to view the performance of relevant countries, territories and organisations. You may also choose to view performance by different dimensions of the indicator, where available."
                placement="right"
              triggers="mouseenter:mouseleave">

            </i>
        </p>
        <div class="btn-group btn-dropdown" dropdown [autoClose]="true" container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            <span class="font-selet-dropdown content-select-default">{{indicator.dropdowncountry}}</span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-width" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown" (click)="reset()">
                Select an Indicator
              </a>
            </li>
            <li role="menuitem" *ngFor="let data of filterIndicator(model.data)">
              <a class="dropdown-item contenido-dropdown" (click)="changeIndicator(data)">
                  {{data.dropdowncountry}}
              </a>
            </li>
          </ul>
        </div>
        <!---->
        <label *ngIf="subDropdown" for="inputState" class="result-subtitle space-indicator label-size">Sub Indicator
          <p class="p-01" *ngIf="this.valueSubindicator"  >
            <i class="mdi mdi-information i-info-label" popover="Information for this sub-indicator is drawn from the IATI registry, and constitutes a snapshot of progress at the time of Global Partnership monitoring. Up-to-date information for this sub-indicator can be found on the IATI Dashboard, which is updated nightly with current data."
              placement="right" triggers="mouseenter:mouseleave">
            </i>
          </p>
        </label>
        <div *ngIf="subDropdown" class="btn-group btn-dropdown" dropdown container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            <span class="font-selet-dropdown content-select-default">{{subIndicator.subdropdown}}</span>
            <span class="dropdown-caret mdi mdi-chevron-down"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown" (click)="resetSub()">
                Select a Sub-Indicator
              </a>
            </li>
            <li role="menuitem" *ngFor="let sub of filterSubIndicator(indicator.subdropdown)">
              <a class="dropdown-item contenido-dropdown" (click)="changeSubIndicator(sub)"> {{sub.subdropdown}}</a>
            </li>
          </ul>
        </div>
      </div>
      <button *ngIf="indicator.dropdowncountry!=='Select an indicator'"type="button" name="button" class="btn btn-learn">What does this indicator measure?</button>
      <button type="button" name="button" [ngClass]="{'btn': true, 'btn-run': canRun(), 'btn-run-disabled': !canRun(), 'run-mg': true, 'orange-border': canRun()}" (click)="run()" [disabled]="!canRun()">Run Analysis</button>
      </div>
    </div>
    <div class="col-md-9 level-bg">
      <div class="menu-tabs">
          <a [routerLink]="['/']">
              <button type="button" name="button" class="btn btn-md">
            <img src="assets/0005-gray.png" class="bitmap img-hh">
            <img src="assets/0005.png" class="bitmap img-hv">
        </button>
          </a>
          <a [routerLink]="['/country']">
              <button type="button" name="button" class="btn btn-md">
              <img src="assets/001.png" class="bitmap img-hh">
              <img src="assets/001-white.png" class="bitmap img-hv">
            </button>
          </a>
          <a [routerLink]="['/partner']">
              <button type="button" name="button" class="btn btn-md">
                <img src="assets/002.png" class="bitmap img-hh">
              <img src="assets/002-white.png" class="bitmap img-hv">
            </button>
          </a>
          <a [routerLink]="['/country-historical']">
              <button type="button" name="button" class="btn btn-viewer-01">
              <img src="assets/003-white.png" class="bitmap img-md"> Country-Level Analysis
            </button>
          </a>
          <a [routerLink]="['/partner-historical']">
              <button type="button" name="button" class="btn btn-md">
              <img src="assets/004.png" class="bitmap img-hh">
              <img src="assets/004-white.png" class="bitmap img-hv">
            </button>
          </a>
      </div>
      <!-- CONTAINER -->
      <div class="card-db">
        <div class="row">
          <div class="col-md-10 ll-hd">
            <div *ngIf="isData">
              <label>{{title}} {{indicator.dropdowncountry === 'Select an indicator' ? '' : 'Indicator ' + indicator.indicator}}</label>
              <p> Click on a development partner to see historical trends in performance</p>
              <div class="row no-gutters">
                <div class="col-md-6 oo-ll">
                  <button class="btn btn-invisible" (click)="sortDraw('devpart')"><img src="assets/006.png" alt="" width="11px"></button>
                  <label class="title-pp">DEVELOPMENT PARTNER</label>
                  <i class="mdi mdi-information"
                      popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                      placement="right"
                      triggers="mouseenter:mouseleave" >
                  </i>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-invisible" (click)="sortDraw('value')"><img src="assets/006.png" alt="" width="11px"></button>
                  <label class="title-pp-01">Performance</label>
                </div>
              </div>
              <div class="title-i">
                <label>{{charttext}}</label>

              </div>

            </div>
            <div style="text-transform: uppercase; letter-spacing: 1px;" *ngIf="!isData">Data not available for the selected combination.</div>
            <div id="chart" [ngClass]="{'hide' : !isData}"></div>
            <button *ngIf="!lessData && buttonMore" type="button" name="button" class="btn-more" (click)="drawComplete()"> More </button>
            <button *ngIf="!lessData && !buttonMore" type="button" name="button" class="btn-more" (click)="drawLess()"> Less </button>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- MODAL CHART -->
<template #secondGraph >
  <div class="card-bd">
    <div class="modal-header">
      <h6 class="modal-title pull-left">
        Historical performance for {{selectedChart}} in {{selectedCountry}}: {{indicator.dropdowncountry === 'Select an indicator' ? '' : 'Indicator ' + indicator.indicator}}
      </h6>
      <button type="button" class="close pull-right" style="cursor: pointer" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>  On this tab, development partners' performance can be explored at the country level for each available year. </p>
      <div id="secondChart"></div>
    </div>
  </div>     
</template>
<!-- END MODAL CHART -->

</div>
