<app-navbar [mapTitle]="title"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cc-mg">
      <div class="historical">
      <p>On this tab, development partners’ performance can be explored at the country level.
        Select a partner country and indicator to explore results for all development partners in a given year.
      </p>
      <p class="result-subtitle space-view-data"><span class="mdi mdi-calendar"></span> Select year
          <i class="mdi mdi-information"
              popoverTitle="Global Partnership monitoring data is available for the 2014 and 2016 monitoring rounds." popover="2005, 2007 and 2010 data are drawn from the Paris Declaration on Aid Effectiveness monitoring results, and is available for indicators with comparable methodology to Global Partnership monitoring."
              placement="right"
              triggers="mouseenter:mouseleave" >
          </i>
      </p>
      <div class="row no-gutters">
        <div class="col-md-11">
          <div class="radio">
            <label  *ngFor="let filter of filters" [ngClass]="{'radio-label-checked' : model.year == filter.year}">
              <input type="radio" name="radio-btn"  [value]="filter" [checked]="filter.year===model.year" [(ngModel)]="model" (change)='changeYear(model)'>
              {{filter.year}}
            </label>
          </div>
        </div>
        <div class="col-md-1 text-right margin-top-btn">
            <button [ngClass]="{'btn': true, 'btn-export-02': canRun(), 'btn-export-02-disabled': !canRun() }" (click)="exportCSV()" [disabled]="!canRun()"> <i class="mdi mdi-download"></i> </button>
        </div>
      </div>
      <br>
      <!-- DEVELOPMENT -->
      <p class="result-subtitle space-view-data"><img src="assets/003.png" alt="" width="11px"> PARTNER COUNTRY
          <i class="mdi mdi-information"
              popover="Partner Countries include the low and middle-income countries who participated in Global Partnership monitoring."
              placement="right"
              triggers="mouseenter:mouseleave" >
          </i>
      </p>

      <div class="btn-group btn-dropdown" dropdown>
        <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
          <span class="font-selet-dropdown content-select-default">{{selectedCountry?selectedCountry:'Select Country'}}</span>
          <span class="dropdown-caret mdi mdi-chevron-down"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu style-default" role="menu">
          <li role="menuitem">
            <a class="dropdown-item contenido-dropdown" (click)="resetCountry()">
              Select Country
            </a>
          </li>

          <li *ngFor="let country of countries" role="menuitem">
              <a class="dropdown-item style-a-default" (click)="changeCountry(country.country)">
                  {{country.country}}
              </a>
          </li>
        </ul>
      </div>
      <br><br>
      <div class="form-group style-select" *ngIf="loadIndicators">
        <p for="inputState" class="result-subtitle space-indicator"><span class="mdi mdi-crosshairs-gps"></span> Indicator
            <i class="mdi mdi-information"
                popover="Choose one of the Global Partnership’s indicators to view the performance of relevant countries and organisations. You may also choose to view performance by different dimensions of the indicator, where available."
                placement="right"
              triggers="mouseenter:mouseleave">

            </i>
        </p>
        <div class="btn-group btn-dropdown" dropdown [autoClose]="true" container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle orange-border">
            <span class="font-selet-dropdown content-select-default">{{indicator.dropdowncountry?indicator.dropdowncountry:'Select an indicator'}}</span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-width" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown" (click)="resetIndicators()">
                Select an Indicator
              </a>
            </li>
            <li role="menuitem" *ngFor="let data of filterIndicator(model.data)">
              <a class="dropdown-item contenido-dropdown" (click)="changeIndicator(data)">
                  {{data.dropdowncountry}}
              </a>
            </li>
          </ul>
        </div>
        <!---->
        <label *ngIf="subDropdown" for="inputState" class="result-subtitle space-indicator label-size">Sub Indicator
          <p class="p-01" *ngIf="this.valueSubindicator"  >
            <i class="mdi mdi-information i-info-label" popover="Information for this Sub-Indicator is drawn from the IATI registry, and constitutes a snapshot of progress at the time of Global Partnership monitoring. Up-to-date information for this Sub-Indicator can be found on the IATI Dashboard, which is updated nightly with current data."
              placement="right" triggers="mouseenter:mouseleave">
            </i>
          </p>
        </label>
        <div *ngIf="subDropdown" class="btn-group btn-dropdown" dropdown container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle orange-border">
            <span class="font-selet-dropdown content-select-default">{{subIndicator.subdropdown?subIndicator.subdropdown:'Select Sub-Indicator'}}</span>
            <span class="dropdown-caret mdi mdi-chevron-down"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown" (click)="resetSub()">
                Select a Sub-Indicator
              </a>
            </li>
            <li role="menuitem" *ngFor="let sub of filterSubIndicator(indicator.subdropdown)">
              <a class="dropdown-item contenido-dropdown" (click)="changeSubIndicator(sub)"> {{sub.subdropdown}}</a>
            </li>
          </ul>
        </div>
      </div>
      <button *ngIf="((indicator&&indicator.indicator==='10')||(subIndicator&&subIndicator.subdropdown))" type="button" name="button" class="btn btn-learn" (click)="showModal(whatdoes)">What does this indicator measure?</button>
      <ng-template #whatdoes>
        <div class="modal-body o-lll">
            <div class="container" >
                <div class="row" >
                    <div class="col-md-10">
                        <p class="modal-title pull-left">What does this indicator measure?<br><span>Indicator {{indicator.indicator}}</span></p>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                 <div class="col-lg-12 col-md-12">{{indicator.whatdoes}}</div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12 col-md-12"> {{subIndicator.whatdoes}}</div>
                </div>
                <br *ngIf="indicator.indicator!='10'">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    For more information on the methodology for this indicator,
                    please refer to the
                     <a href="http://effectivecooperation.org/wp-content/uploads/2016/08/2015-2016-GPEDC-Monitoring-Guide.pdf">2016 Monitoring Guide.</a></div>

                </div>

            </div>
        </div>
      </ng-template>
      <div class="tooltip-01" *ngIf="indicator && indicator.image">
        <img [src]="indicator.image" width="47px" class="ll-po  tooltip-01" [tooltip]="getTextIcon(indicator)" placement="right">
      </div>
      <button type="button" name="button" [ngClass]="{'btn': true, 'btn-run': canRun(), 'btn-run-disabled': !canRun(), 'run-mg': true, 'orange-border': canRun()}" (click)="run()" [disabled]="!canRun()">Run Analysis</button>
      </div>
    </div>
    <div class="col-md-9 level-bg">
      <div class="menu-tabs">
          <a [routerLink]="['/']">
              <button type="button" name="button" class="btn btn-md">
            <img src="assets/0005-gray.png" class="bitmap img-hh">
            <img src="assets/0005.png" class="bitmap img-hv">
        </button>
          </a>
          <a [routerLink]="['/country']">
              <button type="button" name="button" class="btn btn-md">
              <img src="assets/001.png" class="bitmap img-hh">
              <img src="assets/001-white.png" class="bitmap img-hv">
            </button>
          </a>
          <a [routerLink]="['/partner']">
              <button type="button" name="button" class="btn btn-md">
                <img src="assets/002.png" class="bitmap img-hh">
              <img src="assets/002-white.png" class="bitmap img-hv">
            </button>
          </a>
          <a [routerLink]="['/country-historical']">
              <button type="button" name="button" class="btn btn-viewer-01">
              <img src="assets/003-white.png" class="bitmap img-md"> Country-Level Analysis
            </button>
          </a>
          <a [routerLink]="['/partner-historical']">
              <button type="button" name="button" class="btn btn-md">
              <img src="assets/004.png" class="bitmap img-hh">
              <img src="assets/004-white.png" class="bitmap img-hv">
            </button>
          </a>
      </div>
      <!-- CONTAINER -->
      <div class="card-db">
        <div class="row">
          <div class="col-md-10 ll-hd">
            <div *ngIf="isData">
              <label>{{title}} {{indicator.dropdowncountry === '' ? '' : 'Indicator ' + indicator.indicator}}</label>
              <p> Click on a development partner to see historical trends in performance</p>
              <div class="row no-gutters">
                <div class="col-md-6 oo-ll">
                  <button class="btn btn-invisible btn-padding-right" (click)="sortDraw('devpart')"><img src="assets/006.png" alt="" width="11px" [ngClass]="{'reverse-image-arrow': sortLabel}"></button>
                  <label class="title-pp margin-st">DEVELOPMENT PARTNER</label>
                  <i class="mdi mdi-information"
                      popover="Development Partners include bilateral partners and development organisations, including multilateral development banks, UN agencies and philanthropy, among others."
                      placement="right"
                      triggers="mouseenter:mouseleave" >
                  </i>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-invisible btn-padding-right" (click)="sortDraw('value')"><img src="assets/006.png" alt="" width="11px" [ngClass]="{'reverse-image-arrow': sortValue}"></button>
                  <label class="title-pp-01 margin-st">PERFORMANCE</label>
                </div>
              </div>
              <div class="title-i">
                <label>{{charttext}}</label>

              </div>

            </div>
            <div style="margin-left: 12px; font-size: 13px" *ngIf="first">Select a Year, Partner Country, and Indicator to start exploring.</div>
            <div style="text-transform: uppercase; letter-spacing: 1px;" *ngIf="!isData && !first">Data not available for the selected combination.</div>
            <div id="chart" [ngClass]="{'hide' : !isData}"></div>
            <button *ngIf="!lessData && buttonMore" type="button" name="button" class="btn-more" (click)="drawComplete()"> More </button>
            <button *ngIf="!lessData && !buttonMore" type="button" name="button" class="btn-more" (click)="drawLess()"> Less </button>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- MODAL CHART -->
<template #secondGraph>
  <div class="card-bd">
    <div class="modal-header">
      <h6 class="modal-title pull-left">
        Historical performance for {{selectedChart}} in {{selectedCountry}}: {{indicator.dropdowncountry === 'Select an indicator' ? '' : 'Indicator ' + indicator.indicator}}
      </h6>
      <button type="button" class="close pull-right" style="cursor: pointer" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>  On this tab, development partners' performance can be explored at the country level for each available year. </p>
      <div id="secondChart"></div>
    </div>
  </div>
</template>
<!-- END MODAL CHART -->

</div>
