<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cc-mg">
      <div class="historical">
      <p>On this tab, development partners’ performance can be explored at the country level.
        Select a partner country and indicator to explore results for all development partners in a given year.
      </p>
      <p class="result-subtitle space-view-data"><span class="mdi mdi-calendar"></span> Select year
          <i class="mdi mdi-information"
              popover="Global Partnership monitoring data is available for both the first (2013-2014) and second (2015-2016) monitoring rounds. Data for Indicators 1-4 is only available for the 2015-2016 round."
              placement="right"
              triggers="mouseenter:mouseleave" >
          </i>
      </p>
      <div class="row no-gutters">
        <div class="col-md-11">
          <div class="radio">
              <label>
                  <input type="radio" name="radio-btn" [value]="title"/>
                  2016
              </label>
              <label>
                  <input type="radio" name="radio-btn" [value]="title"/>
                  2014
              </label>
              <label class="radio-label-checked">
                  <input type="radio" name="radio-btn" [value]="title"/>
                  2010
              </label>
              <label>
                  <input type="radio" name="radio-btn" [value]="title"/>
                  2007
              </label>
              <label>
                  <input type="radio" name="radio-btn" [value]="title"/>
                  2005
              </label>
          </div>
        </div>
        <div class="col-md-1 text-right margin-top-btn">
            <button class="btn btn-export-02" (click)="exportCsvViewer()" [disabled]="indicator || !mapTitle"> <i class="mdi mdi-download"></i> </button>
        </div>
      </div>
      <br>
      <!-- DEVELOPMENT -->
      <p class="result-subtitle space-view-data"><img src="assets/003.png" alt="" width="11px"> DEVELOPMENT COUNTRY
          <i class="mdi mdi-information"
              popover="Global Partnership monitoring data is available for both the first (2013-2014) and second (2015-2016) monitoring rounds. Data for Indicators 1-4 is only available for the 2015-2016 round."
              placement="right"
              triggers="mouseenter:mouseleave" >
          </i>
      </p>

      <div class="btn-group btn-dropdown" dropdown>
        <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
          <span class="font-selet-dropdown content-select-default">Ethiopia</span>
          <span class="dropdown-caret mdi mdi-chevron-down"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu style-default" role="menu">
          <li role="menuitem">
              <a class="dropdown-item style-a-default">
                  .....
              </a>
          </li>
        </ul>
      </div>
      <br><br>
      <div class="form-group style-select">
        <p for="inputState" class="result-subtitle space-indicator"><span class="mdi mdi-crosshairs-gps"></span> Indicator
            <i class="mdi mdi-information"
                popover="Choose one of the Global Partnership's ten current indicators to view the performance of relevant countries, territories and organisations. You may also choose to view performance by different dimensions of the indicator, where available."
                placement="right"
              triggers="mouseenter:mouseleave">

            </i>
        </p>
        <div class="btn-group btn-dropdown" dropdown [autoClose]="true" container="body">
            <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
                <span class="font-selet-dropdown content-select-default">Select an indicator</span>
                <span class="font-selet-dropdown content-select-default"> Select an indicator</span>
                        <span class="dropdown-caret mdi mdi-chevron-down"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-width" role="menu">
                <li role="menuitem">
                    <a class="dropdown-item contenido-dropdown">
                        Indicator 1a: Do development partners use partner countries' own results frameworks and evaluation processes?
                    </a>
                </li>
            </ul>
        </div>
        <button *ngIf="mapTitle!==''"type="button" name="button" class="btn btn-learn">What does this indicator measure?</button>
      </div>
      <button type="button" name="button" class="btn btn-run">Run Analysis</button>
      </div>
    </div>
    <div class="col-md-9 level-bg">
      <div class="menu-tabs">
          <a [routerLink]="['/']">
              <button type="button" name="button" class="btn btn-md">
            <img src="assets/0005-gray.png" class="bitmap img-hh">
            <img src="assets/0005.png" class="bitmap img-hv">
        </button>
          </a>
          <a [routerLink]="['/country']">
              <button type="button" name="button" class="btn btn-md">
              <img src="assets/001.png" class="bitmap img-hh">
              <img src="assets/001-white.png" class="bitmap img-hv">
            </button>
          </a>
          <a [routerLink]="['/partner']">
              <button type="button" name="button" class="btn btn-md">
                <img src="assets/002.png" class="bitmap img-hh">
              <img src="assets/002-white.png" class="bitmap img-hv">
            </button>
          </a>
          <a [routerLink]="['/country-historical']">
              <button type="button" name="button" class="btn btn-viewer-01">
              <img src="assets/003-white.png" class="bitmap img-md"> Country-Level Analysis
            </button>
          </a>
          <a [routerLink]="['/partner-historical']">
              <button type="button" name="button" class="btn btn-md">
              <img src="assets/004.png" class="bitmap img-hh">
              <img src="assets/004-white.png" class="bitmap img-hv">
            </button>
          </a>
      </div>
      <!-- CONTAINER -->
      <div class="card-db">
        <div class="row">
          <div class="col-md-6 ll-hd">
            <label>2010 performance across all development partners for Ethiopia: Indicator 1a</label>
            <p> Click on a development partner to see historical trends in performance</p>
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="assets/006.png" alt="" width="11px">
                <label class="title-pp">DEVELOPMENT PARTNER</label>
                <i class="mdi mdi-information"
                    popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                    placement="right"
                    triggers="mouseenter:mouseleave" >
                </i>
              </div>
              <div class="col-md-4">
                <img src="assets/006.png" alt="" width="11px">
                <label class="title-pp-01">SCORE</label>
                <i class="mdi mdi-information"
                    popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                    placement="right"
                    triggers="mouseenter:mouseleave" >
                </i>
              </div>
            </div>

            <div class="title-i">
              <label>Indicator Score %</label>
              <i class="mdi mdi-information"
                  popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                  placement="right"
                  triggers="mouseenter:mouseleave" >
              </i>
            </div>
            <img src="assets/10.png" alt="">
          </div>
          <div class="col-md-6 ll-hd">
            <div class="card-bd">
              <div class="card-bd-01">
                <h6>UNDP</h6>
                <p>Historical performance for UNDP in Ethiopia: Indicator 1a</p>
                <img src="assets/007.png" alt="">
              </div>

              <div class="card-bd-02">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
