<app-navbar [mapTitle]="navbarTitle"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cc-mg">
      <div class="historical">
        <p>
          On this tab, development partners’ performance can be explored across all partner countries who reported on their engagement.
          Select a development partner and indicator to explore global performance for a given year.
        </p>
        <p class="result-subtitle space-view-data">
          <span class="mdi mdi-calendar"></span> Select year
          <i class="mdi mdi-information" 
            popoverTitle="Global Partnership monitoring data is available for the 2014 and 2016 monitoring rounds." popover="2005, 2007 and 2010 data are drawn from the Paris Declaration on Aid Effectiveness monitoring results, and is available for indicators with comparable methodology to Global Partnership monitoring."
            placement="right" triggers="mouseenter:mouseleave">
          </i>
        </p>
        <div class="row no-gutters">
          <div class="col-md-11">
            <div class="radio">
              <label *ngFor="let year of years" [ngClass]="{'radio-label-checked' : year === yearModel.year}">
                <input type="radio" name="radio-btn" [value]="year" [(ngModel)]="yearModel" [checked]="year === yearModel.year" (change)="changeYear(year)"
                /> {{ year }}
              </label>
            </div>
          </div>
          <div class="col-md-1 text-right margin-top-btn">
            <button class="btn btn-export-02" (click)="exportCsvViewer()" [disabled]="indicator || !mapTitle">
              <i class="mdi mdi-download"></i>
            </button>
          </div>
        </div>
        <br>
        <!-- DEVELOPMENT -->

        <!-- INDICATORS -->
        <p class="result-subtitle space-view-data">
          <span class="mdi mdi-crosshairs-gps"></span>
          Indicator
          <i class="mdi mdi-information" 
            popover="Choose one of the global Partnership’s ten current indicators to view the performance of relevant countries, territories and organisations. You may also choose to view performance by different dimensions of the indicator, where available."
            placement="right" triggers="mouseenter:mouseleave">
          </i>
        </p>
        <div class="btn-group btn-dropdown" dropdown [autoClose]="true" container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            <span *ngIf="!selectedIndicator" class="font-selet-dropdown content-select-default">Select an Indicator</span>
            <span *ngIf="selectedIndicator" class="font-selet-dropdown content-select-default">{{ selectedIndicator.dropdown }}</span>
            <span class="dropdown-caret mdi mdi-chevron-down"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown" (click)="unselectIndicator()">
                Select an Indicator
              </a>
            </li>
            <li role="menuitem" *ngFor="let indicator of yearModel.indicators" dropdown>
              <a class="dropdown-item contenido-dropdown" dropdownToggle (click)="selectIndicator(indicator)">
                {{ indicator.dropdown }}
              </a>
            </li>
          </ul>
        </div>
        <!-- SUBINDICATORS -->
        <p class="result-subtitle space-view-data" *ngIf="selectedIndicator && selectedIndicator.subindicators.length > 0">
          Sub Indicator
          <i class="mdi mdi-information" popover="Information for this sub-indicator is drawn from the IATI registry, and constitutes a snapshot of progress at the time of Global Partnership monitoring. Up-to-date information for this sub-indicator can be found on the IATI Dashboard, which is updated nightly with current data."
            placement="right" triggers="mouseenter:mouseleave">
          </i>
        </p>
        <div *ngIf="selectedIndicator && selectedIndicator.subindicators.length > 0" class="btn-group btn-dropdown" dropdown container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            <span *ngIf="!selectedSubindicator" class="font-selet-dropdown content-select-default"> Select a Sub-Indicator</span>
            <span *ngIf="selectedSubindicator" class="font-selet-dropdown content-select-default"> {{ selectedSubindicator.subdropdown }}</span>
            <span class="dropdown-caret mdi mdi-chevron-down"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown" (click)="unselectSubindicator()">
                Select a Sub-Indicator
              </a>
            </li>
            <li role="menuitem" *ngFor="let subindicator of selectedIndicator.subindicators">
              <a class="dropdown-item contenido-dropdown" (click)="selectSubindicator(subindicator)"> {{ subindicator.subdropdown }}</a>
            </li>
          </ul>
        </div>
        <br>
        <br>
        <button *ngIf="(selectedIndicator && selectedSubindicator) || (selectedIndicator && selectedIndicator.id === '10')" type="button"
          name="button" class="btn btn-learn" (click)="showModal(whatdoes)">What does this indicator measure?</button>
        <ng-template #whatdoes>
          <div class="modal-body o-lll">
              <div class="container" >
                  <div class="row" >
                      <div class="col-md-10">
                          <p class="modal-title pull-left">What does this indicator measure?<br><span>indicator {{selectedIndicator.id}}</span></p>
                      </div>
                      <div class="col-2">
                          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12">{{selectedIndicator.whatdoes}}</div> 
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-12 col-md-12"> {{selectedSubindicator.whatdoes}}</div> 
                  </div>
                  <br *ngIf="selectedIndicator.id!='10'">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      For more information on the methodology for this indicator, 
                      please refer to the
                        <a href="http://effectivecooperation.org/wp-content/uploads/2016/08/2015-2016-GPEDC-Monitoring-Guide.pdf">2016 Monitoring Guide.</a></div>
                      
                  </div>
                  
              </div>
          </div>
        </ng-template>
        <div *ngIf="selectedIndicator && selectedIndicator.image">
          <img [src]="selectedIndicator.image" width="47px" class="ll-po" [tooltip]="getTextIcon(selectedIndicator)" placement="right">
        </div>
          <!-- selectedIndicator -->
        <!-- DEVELOPMENT PARTNER -->
        <div class="form-group style-select" *ngIf="showPartners()">
          <p for="inputState" class="result-subtitle space-indicator">
            <img src="assets/004.png" alt="" width="12px"> DEVELOPMENT PARTNER
            <i class="mdi mdi-information" popover="Development Partners include bilateral partners and development organisations, including multilateral development banks, UN agencies and philanthropy, among others."
              placement="right" triggers="mouseenter:mouseleave">

            </i>
          </p>
          <!-- DROPDOWN -->
          <button type="button" class="btn modal-check click-btn" (click)="showModal(template)">Click Here</button>
          <template #template>
            <div class="modal-header mm-lo">
              <p class="ll-k">SELECT WHICH TYPE OF PARTNERS TO CONSIDER FOR COMPARISON (SELECT ONE OR MANY)</p>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <label class="label--checkbox ll-01" *ngFor="let pType of partners; let i = index">
                    <input class="checkbox btn-filters-selected" type="checkbox" [checked]="selectedPartnerTypes[i]" (click)="updateCheck(i)"> {{ pType.type }}
                  </label>
                </div>
              </div>
            </div>
          </template>
          <ng-select [(ngModel)]="selectedDevPartner" (selected)="onSelected($event)" (deselected)="onDeselected($event)" [allowClear]="true"
            [options]="dropdownContent" placeholder="Select a development partner" filterPlaceholder="Type to search" notFoundMsg="No partners found">
          </ng-select>
          <!-- <div class="btn-group btn-dropdown" dropdown [autoClose]="true" container="body">
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            <span class="font-selet-dropdown content-select-default">UNDP</span>
            <span class="dropdown-caret mdi mdi-chevron-down"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-width" role="menu">
            <li role="menuitem">
              <a class="dropdown-item contenido-dropdown">
                Indicator 1a: Do development partners use partner countries' own results frameworks and evaluation processes?
              </a>
            </li>
          </ul>
        </div> -->
          <!-- CHECKBOX -->
          
        </div>
        <button type="button" name="button" [ngClass]="{'btn': true, 'btn-run': canRun(), 'btn-run-disabled': !canRun(), 'run-mg': true, 'orange-border': canRun()}" (click)="runAnalysis()" [disabled]="!canRun()">Run Analysis</button>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-9 level-bg">
      <div class="menu-tabs">
        <a [routerLink]="['/']">
          <button type="button" name="button" class="btn btn-md">
            <img src="assets/0005-gray.png" class="bitmap img-hh">
            <img src="assets/0005.png" class="bitmap img-hv">
          </button>
        </a>
        <a [routerLink]="['/country']">
          <button type="button" name="button" class="btn btn-md">
            <img src="assets/001.png" class="bitmap img-hh">
            <img src="assets/001-white.png" class="bitmap img-hv">
          </button>
        </a>
        <a [routerLink]="['/partner']">
          <button type="button" name="button" class="btn btn-md">
            <img src="assets/002.png" class="bitmap img-hh">
            <img src="assets/002-white.png" class="bitmap img-hv">
          </button>
        </a>
        <a [routerLink]="['/country-historical']">
          <button type="button" name="button" class="btn btn-md">
            <img src="assets/003.png" class="bitmap img-hh">
            <img src="assets/003-white.png" class="bitmap img-hv">
          </button>
        </a>
        <a [routerLink]="['/partner-historical']">
          <button type="button" name="button" class="btn btn-viewer-01">
            <img src="assets/004-white.png" class="bitmap img-md">Partner-Level Analysis
          </button>
        </a>
      </div>
      <!-- GRAPHS -->
      <div class="card-db">
        <div class="row">
          <div class="col-md-10 ll-hd">
            <div *ngIf="isData; else noData">
              <label *ngIf="selectedIndicator">{{ navbarTitle }}: Indicator {{selectedIndicator.id}}</label>
              <p> Click on a development partner to see historical trends in performance</p>
              <div class="row no-gutters">
                <div class="col-md-5 oo-ll">
                  <img src="assets/006.png" alt="" width="11px">
                  <label class="title-pp">DEVELOPMENT PARTNER</label>
                  <i class="mdi mdi-information" popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                    placement="right" triggers="mouseenter:mouseleave">
                  </i>
                </div>
                <div class="col-md-4">
                  <img src="assets/006.png" alt="" width="11px">
                  <label class="title-pp-01">PERFORMANCE</label>
                </div>
              </div>
              <div class="title-i">
                <label>{{ chartTitle }}</label>
              </div>
            </div>
            <div style="margin-left: 12px; font-size: 13px" *ngIf="first">* Select a Development Partner, indicator and year to start exploring.</div>
            <div style="text-transform: uppercase; letter-spacing: 1px;" *ngIf="!isData && !first">Data not available for the selected combination.</div>
            <div id="chart" [ngClass]="{'hide' : !isData}"></div>
            <button *ngIf="!lessData && buttonMore" type="button" name="button" class="btn-more" (click)="drawComplete()"> More </button>
            <button *ngIf="!lessData && !buttonMore" type="button" name="button" class="btn-more" (click)="drawLess()"> Less </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- MODAL CHART -->
  <template #secondGraph>
    <div class="card-bd">
      <div class="modal-header">
        <h6 class="modal-title pull-left">{{selectedChart}}</h6>
        <button type="button" class="close pull-right" style="cursor: pointer" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Historical performance for {{ selectedDevPartner }} in {{ selectedChart }}: Indicator {{ selectedIndicator.id }}</p>
        <div id="secondChart"></div>
      </div>
    </div>
  </template>
  <!-- END MODAL CHART -->

</div>