<!-- SELECT YEAR  AND INDICATORS -->

  <p class="result-subtitle space-view-data">
    <span class="mdi mdi-calendar"></span> Select year
    <i class="mdi mdi-information" popover="Global Partnership monitoring data is available for both the first (2013-2014) and second (2015-2016) monitoring rounds. Data for Indicators 1-4 is only available for the 2015-2016 round."
      placement="right" triggers="mouseenter:mouseleave">
    </i>
  </p>
  <div class="row no-gutters">
    <div class="col-md-11">
      <div class="radio">
        <label *ngFor="let year of getYears()" [ngClass]="{'radio-label-checked' : model.year.year === year.year}" > 
          <input type = "radio" name = "radio-btn" [value]="year" [(ngModel)] = "model.year" [checked] = "model.year.year === year.year" (change)="changeyearLabel()" /> 
          {{year.year}}
        </label>
      </div>
    </div>
    <div class="col-md-1 text-right margin-top-btn">
      <button class="btn btn-export-02" (click)="exportCsvViewer()" [disabled]="disabledExport">  <!-->[disabled]="indicator || !mapTitle"<-->
        <i class="mdi mdi-download"></i>
      </button> 
    </div>
  </div>

  <div class="form-group style-select">
    <p for="inputState" class="result-subtitle space-indicator">
      <span class="mdi mdi-crosshairs-gps"></span> Indicator
      <i class="mdi mdi-information" popover="Choose one of the Global Partnership's ten current indicators to view the performance of relevant countries, territories and organisations. You may also choose to view performance by different dimensions of the indicator, where available."
        placement="right" triggers="mouseenter:mouseleave">
      </i>
    </p>
    <div class="btn-group btn-dropdown" dropdown [autoClose]="true" container="body">
      <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
        <span *ngIf="indicator === false" class="font-selet-dropdown content-select-default">{{model.category.label}}</span>
        <span *ngIf="indicator === true" class="font-selet-dropdown content-select-default"> Select an indicator</span>
        <span class="dropdown-caret mdi mdi-chevron-down"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-width" role="menu">
        <li role="menuitem">
          <a class="dropdown-item contenido-dropdown" (click)="unselectCategory()">
            Select an indicator
          </a>
        </li>
        <li role="menuitem" *ngFor="let category of getIndicators(model.year.year)" dropdown placement="right" container="body"
          [isOpen]="openedIndicator == category.id">
          <a class="dropdown-item contenido-dropdown" dropdownToggle (click)="noIsInvalidSelection(category) && selectCategory(category)">
            {{category.label}}
          </a>
        </li>
      </ul>
    </div>
    <label *ngIf="subDropdown" for="inputState" class="result-subtitle space-indicator">Sub Indicator
    </label>
    <div *ngIf="subDropdown" class="btn-group btn-dropdown" dropdown container="body">
      <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
        <span *ngIf="indicator === false" class="font-selet-dropdown content-select-default">{{model.subcategory ? model.subcategory.label : 'Select Sub-Indicator'}}</span>
        <span *ngIf="indicator === true" class="font-selet-dropdown content-select-default"> Select a Sub-Indicator</span>
        <span class="dropdown-caret mdi mdi-chevron-down"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a class="dropdown-item contenido-dropdown" (click)="unselectSubCategory()">
            Select a Sub-Indicator
          </a>
        </li>
        <li role="menuitem" *ngFor="let subcategory of subDropdown.subcategories">
          <a class="dropdown-item contenido-dropdown" (click)="selectSubcategory(subDropdown, subcategory)"> {{subcategory.label}}</a>
        </li>
      </ul>
    </div>
    <button *ngIf="mapTitle!==''" type="button" name="button" class="btn btn-learn" (click)="setTrueTab();openModal(template)">What does this indicator measure?</button>
  </div>

