@import "../node_modules/mdi/css/materialdesignicons.min.css";
@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";

/*Estilos para ocupar toda la pantalla*/

html,
body {
    height: 100%;
    background-color: #fff;
    /*ccc*/
    overflow-x: hidden;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.body-height {
    padding-top: 52px;
}

.result-modal a {
    color: #f07848 !important;
}

.modal-body a {
    color: #f07848 !important;
}

.container-fluid {
    height: 100%;
}

.container-fluid>.row {
    height: 100%;
    overflow: hidden;
}

.result-container {
    /*height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #000;*/
    padding-right: 15px;
    padding-left: 15px;
    /*margin-left: -15px;*/
}

.result-container label {
    border: none;
}


/*reinicio de estilos por defecto*/

.table thead th,
.table th,
.table td {
    border: 0px;
}


/*Estilos para ocupar toda la pantalla*/


/* NAVBAR */

img.logo {
    width: 350px;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

img.logo.panel-1 {
    padding-bottom: 0px;
}

.bg-light {
    background-color: #1a233d!important;
}

.navbar {
    padding: 0px;
    height: 52px;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 8;
}

.nav-row {
    width: 100%;
    height: 52px;
    margin-left: 0px;
}

.bg-color-nav {
    background: #252e47;
    height: 52px;
}
.navbar p {
  font-size: 12px;
  padding-left: 20px;
   line-height: 1;
}
.text-regular{
  padding-top: 18px;
}
.text-exception{
  padding-top: 13px;
}

.col-wd {
     width: 50% !important;
}

.btn-tutorial .mdi-play {
    margin-right: 10px;
}

.logo-navbar{
    /* width:100%;
    height:30px; */
    margin: 4px 0px 0px 0px !important;
}
/*.row{
    background-color: #fafafa;
}*/

.row.logo {
    background-color: #fff;
}

.row.padding-top-background {
    padding-top: 10px;
}


/*Estilos para fuentes de las letras*/

.result-subtitle,
.result-subtitle-one {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(40, 40, 40, 0.56);
    border-bottom: solid 1px rgba(40, 40, 40, 0.15);
    letter-spacing: 1px;
    line-height: 25px !important
}

.result-subtitle i,
.result-subtitle-one i {
    color: #9b9b9b;
    padding-left: 7px;
    cursor: pointer;
    float: right;
    font-size: 14px;
}

.result-subtitle-one {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(40, 40, 40, 0.56);
    border: none;
    margin-bottom: -5px;
}

.padding-top-line .span-md {
    opacity: 0.5;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #282828;
}

.result-subtitle-one span {
    color: #000;
}

.space-left {
    /*margin-left: -13%;*/
    margin-bottom: 10px;
}

p.p-none-space {
    margin: 0px;
    padding: 0px;
}

.title-table {
    color: #5d5d5d;
    font-size: 10px;
    text-transform: uppercase;
}

.result-table-letter,
.result-table-number {
    color: #5d5d5d;
    font-size: 10px;
    text-transform: uppercase;
}

.result-table-number {
    text-align: right;
    color: #f07848;
}

.font-selet-dropdown {
    font-size: 12px;
}

.dropdown-item {
    font-size: 12px;
    padding: 7px 12px;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #F7F7F7;
}

#second-dropdown .dropdown-item {
    white-space: nowrap;
}

.dropdown-item.style-a-default {
    font-size: 12px;
    padding: 6px 12px;
}

.description {
    font-size: 13px;
    text-align: justify;
}

.description span {
    font-weight: bold;
    ;
}

.result-text {
    font-size: 12px;
    text-align: justify;
    margin-top: 20px;
}


/*INICIO estilos para botones naranja y plomo*/

.radio input[type="radio"] {
    display: none;
}

.radio label {
    color: #808080;
    background-color: #fafafa;
    margin: 0px;
    padding: 4px 24px;
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 2px !important;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 10px;
    height: 25px;
    margin-bottom: 5px;
}

.radio label:nth-child(2) {
    border-radius: 0px 5px 5px 0px;
}

.radio label:hover {
    background-color: #1d2840;
    color: #fff;
}

.radio input[type="radio"]:checked+label {
    background-color: #f07848;
    color: #fff;
}

.radio-label-checked {
    background-color: #1d2840 !important;
    color: #fff !important;
}

label.right-btn {
    border-radius: 0px 5px 5px 0px;
    /*0px 50px 50px 0px*/
}

.label-md {
    margin-top: 10px !important;
}


/*FIN estilos para botones naranja y plomo*/


/*Estilo para los botones de export*/

.btn-export {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 25%;
    background-color: #f17846;
    z-index: 1000;
    box-shadow: 2px 1px 30px -2px rgba(116, 116, 120, 1);
    cursor: pointer;
}

a.btn-export:hover {
    color: #fff;
    text-decoration: none;
}

.btn-export-01 {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 33%;
    background-color: #f17846;
    z-index: 1000;
    box-shadow: 2px 1px 30px -2px rgba(116, 116, 120, 1);
    cursor: pointer;
}

a.btn-export-01:hover {
    color: #fff;
    text-decoration: none;
}

.btn-export-02 {
    text-decoration: none;
    color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    background-color: #f17846;
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding: 0px;
}

.btn-export-02:hover {
    color: #fff;
    text-decoration: none;
}

.btn-export-02:disabled {
    opacity: 1;
}


/* .margin-top-btn{
    margin-top: 33px;
} */

.padding-left-none {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}

.filtros-tab {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* margin-top: 52px; */
}


/*Estilo para los botones de export*/


/*INICIO estilos para los campos de select*/

.style-select .form-control {
    background-color: #f5f5f5;
    border-radius: 5px;
    /*20*/
    height: 45px;
    padding: 0px 25px;
    font-size: 14px;
}

.style-select .form-control.color-input {
    background-color: #f5f5f5;
    border-radius: 5px;
    /*20*/
    height: 45px;
    padding: 0px 25px;
    font-size: 12px;
    color: #f17846;
}

.style-select .form-control:focus {
    color: #495057;
    background-color: #f5f5f5;
    border-color: #E2E2E2;
    box-shadow: none;
}

.style-select select {
    background-image: url("assets/chevron-down.png");
    /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 97%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}

.style-select select::-ms-expand {
    display: none;
    /*Evita que se muestre la flecha por defecto en versiones de IE*/
}


/*FIN estilos para los campos de select*/


/*Inicio estilos para los campos input */

.option-input .form-group .form-control,
.option-input-country .form-group .form-control {
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    width: 74%;
    height: 30px;
    color: #212121;
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 20px;
    z-index: 5;
    border: 0px;
    cursor: pointer;
}

.option-input .form-group .form-control:focus,
.option-input-country .form-group .form-control:focus {
    color: #495057;
    border-color: #E2E2E2;
    box-shadow: none;
}

.option-input-country .form-group .form-control {
    width: 70%;
}

input.form-control::placeholder {
    color: #f17846;
    background-color: #f5f5f5;
    font-size: 14px;
}

select.form-control:not([size]):not([multiple]) {
    height: 35px;
}


/* - - - - - - - - - - - - - - -- - ESTLIOS para card del mapa - - - - - - --  - --  - - - - - -  - - - - */

.card-map {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #fff;
    border-radius: 2px;
    width: 363px;
    z-index: 500;
}

.head-card p {
    padding: 0px;
    margin: 0px;
    color: #4a4a4a;
    font-weight: 600;
    /*padding-left: 20px;*/
    padding: 0px 20px;
    font-size: 21px;
}

.head-card p:nth-child(1) {
    padding-top: 10px;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 20px;
    padding-bottom: 10px;
    font-size: 21px;
}

.head-card p:nth-child(2) {
    font-size: 11px;
    padding-top: 3px;
    color: #4a4a4a;
    padding-bottom: 7px;
    margin-top: -5px;
}

.number-card {
    background-color: #Fafafa;
    padding-left: 11px;
    padding-right: 10px;
    min-height: 50px;
    display: inline-flex;
}

.number-card p {
    padding: 0px;
    margin: 0px;
    margin-bottom: -5px;
}

.number-card .left-number {
    /* float: left; */
    min-height: 50px;
    width: 107px;
    background: #fff;
    margin-right: 6px;
    padding:5px 0px 7px 0px;
    margin-top: 5px;
    margin-left: 3px;
}

.number-card .right-number {
    /* float: right; */
    min-height: 50px;
    width: 107px;
    background: #fff;
    padding: 5px;
    margin-top: 5px;
    margin-right: 6px;
}

.number-card .left-number p:nth-child(1),
.number-card .right-number p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #F27844;
}

.number-card .left-number p:nth-child(2),
.number-card .right-number p:nth-child(2) {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    padding-top: 2px;
    text-align: center;
}

.content-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    background: #fafafa;
}

.content-card p {
    padding-top: 15px;
    text-align: left;
    font-size: 12px;
    /*max-height: 125px;*/
    margin-bottom: 0px;
}

.button-card {
    padding-left: 20px;
    padding-right: 20px;
}

.button-card p {
    text-align: center;
}

.button-card p a {
    text-decoration: none;
    background-color: #FDF1EC;
    display: block;
    font-size: 10px;
    color: #F17846;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 5px;
}

.button-card p a:hover {
    color: #fff;
    background-color: #F17846;
    transition: 0.8s;
    /*transition: 1*/
}


/* - - - - - - - - - - - - - - -- - ESTLIOS para card del mapa - - - - - - --  - --  - - - - - -  - - - - */


/* - - - - - - - - - - - - - - -- - ESTLIOS para el mapa y header; - - - - - - --  - --  - - - - - -  - - - - */

.map-header {
    background-color: #444847;
    min-height: 50px;
    position: absolute;
    z-index: 500;
    width: 100%;
}

.map-header p,
.map-header p a {
    font-size: 14px;
    color: #fff;
    padding-top: 12px;
    /*font-weight: bold;*/
    padding-left: 20px;
    width: 86%;
}

.map-header i {
    font-size: 23px;
    position: absolute;
    right: 72px;
    top: 8px;
    background: #444847;
    border-left: 1px solid #fff;
    padding-left: 10px
}


/* - - - - - - - - - - - - - - -- - ESTLIOS para el mapa y header; - - - - - - --  - --  - - - - - -  - - - - */

.rotate i::before {
    transform: rotate(90deg);
}

.border-bottom {
    /*border-bottom: 1px solid #e2e2e2;*/
    padding-bottom: 10px;
}

.padding-top-line {
    padding-top: 10px;
}

.border-bottom-1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.border-div-none {
    padding: 0px;
    background-color: transparent;
    /*margin-left: -1px;*/
}

.space-line {
    padding-top: 10px;
}

.space-line-1 {
    padding-top: 20px;
}

.width-popup .popover-body {
    width: 274px;
    padding-right: 20px;
}

.width-popUp .popover-content.popover-body {
    width: 250px
}

.width-popup-partner .popover-body {
    width: 174px;
    padding-right: 20px;
}

.width-popup-partner .popover-content.popover-body {
    width: 150px;
}

.popover {
    font-size: 12px;
}

div#map {
    width: inherit;
    height: 100%;
    z-index: 1;
}


/*ESTILOS de los tabs*/


/* .filtros-tab .nav-pills{
    position: absolute;
    right: -34px;
    z-index: 500;
    top: 100px;
} */


/*.nav-pills:hover{
    right: -156px;
}*/

.filtros-tab .nav-pills .nav-link.active {
    color: inherit;
    background-color: inherit;
}

.filtros-tab .nav-pills i {
    font-size: 24px;
    padding-left: 5px;
}

.filtros-tab .nav-pills span.ocultar {
    position: relative;
    top: -3px;
    font-size: 12px;
    padding-right: 10px;
    vertical-align: middle;
    color: transparent;
    display: none;
}

.filtros-tab .nav-pills .nav-link:hover,
.filtros-tab .nav-pills .nav-link.active:hover {
    width: 173px;
    height: 36px;
    padding-left: 3px;
    padding-right: 0px;
    margin-right: -145px;
}

.filtros-tab .nav-pills li:nth-child(1) .nav-link:hover,
.filtros-tab .nav-pills li:nth-child(1) .nav-link.active:hover {
    width: 117px;
    height: 36px;
    padding-left: 3px;
    padding-right: 0px;
    margin-right: -145px;
}

.filtros-tab .nav-pills .nav-link:hover span.ocultar {
    color: #F27844;
    display: inline-block;
}

.filtros-tab .nav-pills .nav-link {
    color: #9B9B9B;
    border-radius: 0.25rem;
    padding: 0px;
    background-color: #fff;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 35px;
    height: 36px;
    padding-right: 27px;
}

.filtros-tab .nav-pills .nav-link.active,
.filtros-tab .nav-pills .show>.nav-link {
    background-color: #fff;
    color: #F27844;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 10px;
}

.active {
    background: none;
    border: 0px;
}

.space-tab {
    margin-top: 50px;
}

.nav-item {
    margin-bottom: 5px;
}


/*ESTILOS de los tabs*/


/*Estilos par tabla view 2*/

.table {
    margin-bottom: 0px;
}

td.table-title-left {
    vertical-align: middle;
}

.table-title-left,
.table-subtible,
.table-result {
    font-size: 12px;
}

.table-title-left p span {
    font-weight: 600;
}

.table-title-left p {
    padding: 0px 18px 0px 5px;
    margin: 0px;
}

.table-subtible p {
    color: #4d4d4d;
    padding: 0px 25px 0px 20px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 11px;
    text-align: left;
}

.table-result {
    /*font-weight: 700;*/
    text-align: center;
}

.table-result.center-td {
    /*padding-top: 22px;*/
    vertical-align: middle;
    font-size: 16px;
    color: #717171;
    /*font-weight: 400;*/
    background: #fff;
    border-left: solid 1px rgba(128, 131, 140, 0.2);
}

.table-result.center-td-1 {
    padding-top: 24px;
}


/* .background-table {
    background: rgba(249, 237, 232, 1);
    background: -moz-linear-gradient(left, rgba(249, 237, 232, 1) 0%, rgba(250, 250, 250, 1) 30%, rgba(250, 250, 250, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 237, 232, 1)), color-stop(30%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(250, 250, 250, 1)));
    background: -webkit-linear-gradient(left, rgba(249, 237, 232, 1) 0%, rgba(250, 250, 250, 1) 30%, rgba(250, 250, 250, 1) 100%);
    background: -o-linear-gradient(left, rgba(249, 237, 232, 1) 0%, rgba(250, 250, 250, 1) 30%, rgba(250, 250, 250, 1) 100%);
    background: -ms-linear-gradient(left, rgba(249, 237, 232, 1) 0%, rgba(250, 250, 250, 1) 30%, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(to right, rgba(249, 237, 232, 1) 0%, rgba(250, 250, 250, 1) 30%, rgba(250, 250, 250, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9ede8', endColorstr='#e0e0e0', GradientType=1);
} */

.background-1 {
    background-color: #F9EDE8;
}

.background-2 {
    background-color: #FAFAFA;
}


/*TAB MAP*/

.tab-map {
    position: absolute;
    z-index: 8;
    bottom: 40px;
    padding: 0px 7px;
    left: 50px;
}

.tab-map .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f5f5f5;
    color: #5d5d5d;
    margin-right: 4px;
    padding: 6px 0px;
    width: 40px;
    text-align: center;
    margin-bottom: -2px;
    border-radius: 2px 2px 0px 0px;
}

.tab.map .nav-tabs .nav-item.show .nav-link,
.tab-map .nav-tabs .nav-link.active {
    color: #282828;
    background-color: #fff;
    /* border-color: #ddd #ddd #fff; */
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px 2px 0px 0px;
    border-top: 3px solid #f17846;
}

.tab.map .nav-tabs .nav-item.show .nav-link,
.tab-map .nav-tabs .nav-link.active {
    color: #282828;
    background-color: #fff;
    /* border-color: #ddd #ddd #fff; */
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px 2px 0px 0px;
    border-top: 3px solid #f17846;
}

.tab-map .tab-content>.active {
    display: block;
    overflow-y: hidden;
    background: #fff;
    padding: 15px;
    font-size: 13px;
    width: 587px;
    height: 240px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-top: 22px;
    border-radius: 2px;
}

.tab.map .nav-tabs .nav-link:focus,
.tab-map .nav-tabs .nav-link:hover {
    color: #282828;
    background-color: #fff;
    border-top: 3px solid #f17846;
}

.tab-map .tab-content p {
    height: 198px;
    overflow-x: hidden;
    padding-right: 15px;
    overflow-y: scroll;
}

.tab-map .nav-tabs {
    border-bottom: none;
    /*width: 731px;*/
}

.tab-mrg {
    margin-right: 0px !important;
}

.tab-map .nav-item.active {
    margin-right: 4px;
    margin-bottom: 0px;
}


/*Estilos modal*/

.space-indicator {
    padding-top: 20px;
}

.modal-content {
    background-color: #fafafa;
    left: -54px;
    top: 95px;
    width: 600px
}

.modal-title,
.modal-title span {
    text-transform: uppercase;
}

.modal-title {
    color: #f07848;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 5px;
}

.modal-title span {
    font-size: 14px;
    font-weight: 600;
}

.result-modal {
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    font-size: 13px;
}

.modal-body {
    padding: 2px 0px;
}


/*.background-modal{
    background-color: #FDF1EC;
}*/


/*color de fondo del mcenter-tdodal*/

.modal-backdrop {
    background-color: transparent;
}


/*Icono para cerrar*/

.icon-close {
    position: absolute;
    z-index: 100;
    color: #777;
    right: 45px;
    top: 12px;
    font-size: 10px;
    text-decoration: none;
}

.icon-close:hover {
    color: #f00;
}

.btn-down {
    position: absolute;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    background: #f07848;
    color: #fff;
    cursor: pointer;
    height: 42px;
    width: 42px;
}

.btn-down:hover {
    color: #fff;
    background-color: #f78667;
}


/*@media (min-width: 1279px) and (max-width: 1400px) {
    .option-input .form-group .form-control{
        width: 90%;
        margin-left: 10%;
    }
}*/

@media (min-width: 2000px) {
    #line-td.responsive-line {
        height: 57px;
    }
}

.select_mate {
    width: 100%;
    height: 38px;
    color: #777;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 375ms ease-in-out;
}


/*Ocultamos el select por default*/

.select_mate select {
    position: absolute;
    top: -500px;
    z-index: 1;
    opacity: 0;
}


/* etiqueta <p> con la opcion selecionada  */

.selecionado_opcion {
    padding: 7px 10px;
    width: 90%;
    display: block;
    margin: 0px;
    cursor: pointer;
    font-size: 10px;
}

.selecionado_opcion.option-style-one {
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 12px;
    color: #f07848;
}

.icon_select_mate {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.icon_select_mate {
    cursor: pointer;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 8px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}

.cont_select_int li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #fafafa;
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 10px 4%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
    font-size: 14px;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}

.cont_select_int li:hover {
    background-color: #EEEEEE;
}

.cont_select_int .active {
    background-color: #EEEEEE;
}

.dropdown-menu.style-default {
    width: 100%;
    padding: 0.5rem 5px;
}

.btn-dropdown {
    width: 100%;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(206, 212, 218, 0.5);
    border-radius: 2px;
    cursor: pointer;
    height: 25px;
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0 transparent;
}

.dropdown-caret {
    float: right;
    position: absolute;
    right: 5px;
    top: 0px;
}

.dropdown-caret-01 {
    float: right;
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 4px;
}

.dropdown-toggle::after {
    color: transparent;
}

#select-item {
    padding-bottom: 20px;
}


/*.contenido-dropdown{
    width:95%;
    font-size:14px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}*/

.content-select-default {
    color: #495057;
    position: absolute;
    top: 3px;
    left: 12px;
    width: 90%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
}

.below {
    border-color: rgba(40, 40, 40, 0.15);
    /* border-radius: 5px; */
    border-radius: 2px;
}

.below:focus {
    border-color: rgba(52, 60, 83, 0.8);
    outline: #343c53 auto 2px;
}

.options ul li {
    font-size: 12px;
}

#select-item div.clear {
    color: #f00;
    font-size: 12px;
    width: 20px;
}

#select-item div.toggle {
    font-size: 12px;
    width: 20px;
}

.value {
    font-size: 12px;
}

select-dropdown .disabled {
    font-weight: bold;
    background-color: #fff;
    color: #e27e53 !important;
    cursor: default;
    pointer-events: none;
}

select-dropdown>div .filter input:focus {
    border-color: rgba(52, 60, 83, 0.8);
    outline: #343c53 auto 2px;
}

select-dropdown li.highlighted,
select-dropdown li.selected.highlighted {
    background-color: #f7f7f7;
    color: #212121;
}


/*NEW STYLES*/

.dropdown-width {
    /*max-width: 100% !important;*/
    padding: .2rem 0 !important;
}

.row-margin {
    margin-bottom: 22px;
}

#second-dropdown {
    margin-top: -18px;
}


/*MAP LEGEND*/

.map-legend {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    background-color: #fff;
    right: 23px;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    width: 242px;
}

.map-legend table {
    width: 100%;
}

.map-legend .title {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 3px;
    padding-top: 4px;
}

.map-legend-text {
    padding: 0 6px;
}

.aling-right {
    text-align: right;
}

.aling-center {
    text-align: center;
}


/*.aling-center.line{
    width: 15px
}*/

.map-legend-text-first {
    /*width: 28px;*/
    text-align: center;
    /* float: left; */
}

.map-legend-text-middle {
    /*width: 10px;*/
    text-align: center;
    /* float: left; */
}

.map-legend-text-last {
    /*width: 24px;*/
    text-align: center;
    /* float: left; */
}

.map-legend-text-percent {
    width: 20px;
    text-align: center;
    /* float: left; */
}

.color-01 {
    color: rgb(250, 221, 205);
}

.color-02 {
    color: rgb(245, 183, 154);
}

.color-03 {
    color: rgb(248, 158, 108);
}

.color-04 {
    color: rgb(184, 117, 78);
}

.color-05 {
    color: rgb(120, 77, 53);
}

.color-06 {
    color: #d8d8d8;
}

.row.with-placeholder div.placeholder {
    font-size: 12px;
}

.row.with-placeholder-conutry div.placeholder {
    text-transform: capitalize;
    font-size: 11px
}


/*MAP BUTTONS*/

.map-button {
    height: 36px;
    width: 36px;
    background: #fff;
    color: #7d7d7d;
    padding: 0px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 22px;
    margin-right: 10px;
}

.map-button:hover,
.map-button:focus,
.map-button:active {
    background: #1d2840;
    color: #fff;
    cursor: pointer;
}

.context-pop .popover-content.popover-body {
    width: 242px;
}

.map-option {
    z-index: 4;
    position: absolute;
    top: 15px;
    left: 75px;
}

.map-option .dropdown-toggle::after {
    display: none;
}

.map-drop .dropdown-menu {
    min-width: 100% !important;
    /* margin-top: -1px; */
}

.map-drop .popover-body {
    width: 260px;
}

.reset-map {
    background: #fff !important;
    color: #757575;
    height: 36px;
    font-size: 12px;
    padding: 0px 10px !important;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.map-option {
    z-index: 4;
    position: absolute;
    top: 15px;
    left: 75px;
}

.drop-map {
    background: #fff !important;
    height: 32px;
    font-size: 12px;
    padding: 0px 10px !important;
    cursor: pointer;
    border: none;
    width: 240px;
    height: 36px;
    border-radius: 2px;
    font-size: 12px;
    color: #757575;
    text-align: left;
}

.drop-map:hover {
    background: #1d2840 !important;
    color: #fff;
}

.map-drop .dropdown-menu {
    min-width: 100% !important;
    /* margin-top: -1px; */
}

.map-drop .popover-body {
    width: 260px;
}

.reset-map {
    background: #fff !important;
    color: #757575;
    height: 36px;
    font-size: 12px;
    padding: 0px 10px !important;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.acordion .card-header:first-child {
    background-color: rgba(150, 163, 171, 0.15);
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 500;
    color: #646260;
    font-size: 12px;
    height: 29px;
    border: none;
}

.acordion .card {
    border: none;
}

.acordion .card-body {
    color: #f07848;
    font-size: 12px;
    padding: 5px 10px;
    /* border-top: 2px solid #f07848; */
}

.acordion-md {
    padding: 0px;
    margin-top: 15px;
}

.btn-learn {
    background: #e07e52 !important;
    color: #ffffff;
    font-size: 11px;
    cursor: pointer;
    margin-top: 12px;
    height: 25px;
    border-radius: 2px;
    padding: 0px 12px;
    width: 100%;
    text-align: left;
}

.btn-learn:hover {
    background: #1d2840 !important;
    color: #fff;
}

.mdi-cursor {
    cursor: pointer;
}

.map-dropdown {
    overflow-y: scroll;
    height: 245px;
}

.map-body-i .popover-body {
    width: 280px;
}


/*.acordion i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.acordion i:after {
  transform: translate(2px, 0) rotate(-45deg);
}*/

.result-table-letter,
.result-table-number {
    color: #f07848;
}

.tab-modal .nav-tabs .nav-item.show .nav-link,
.tab-modal .nav-tabs .nav-link.active {
    color: #f07848 !important;
    background-color: #fafafa !important;
    /* text-decoration: underline; */
    border-bottom: 3px solid #f07848 !important;
}

.tab-modal .nav-tabs .nav-item {
    width: 50%;
    text-align: center;
}

.tab-modal .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fafafa;
    color: #5d5d5d;
}

.tab-modal .nav-tabs .nav-link:hover {
    color: #f07848 !important;
    background-color: #fafafa !important;
    /* text-decoration: underline; */
    border-bottom: 3px solid #f07848 !important;
}

.tab-modal .tab-content>.active {
    padding-top: 10px;
}

.disclaimer {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 10px;
}

.modal-contet {
    font-size: 13px;
    padding-bottom: 10px;
}


/*MODAL TUTORIAL*/

.btn-tutorial {
    background: #252e47;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 52px;
    font-size: 14px
}

.btn-tutorial:hover,
.btn-tutorial:focus {
    color: #e27e53;
}

.modal-tutorial {
    background: #fff;
}

.modal-tutorial .flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    float: left;
}

.modal-tutorial ul {
    border-right: 1px solid #7e7e7e;
    width: 200px;
    margin-right: 15px;
}

.modal-tutorial .modal-header {
    border-bottom: 1px solid #fff;
    padding: 5px;
}
.modal-tutorial .modal-content {
    background-color: #fafafa;
    left: -100px;
    top: 70px;
    width: 700px;
}

.modal-tutorial .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #f07848;
    background-color: #fff;
    font-size: 13px;
    border-right: 5px solid #f07848;
    margin-right: -3px;
    border-radius: 0px;
}

.modal-tutorial .nav-pills .nav-link {
    border-radius: .25rem;
    color: #212529;
    font-size: 13px;
    padding: .5rem 0rem;
}

.modal-tutorial .modal-body {
    padding: 15px;
}

.modal-tutorial .tab-content>.active {
    display: block;
    height: 405px;
}

.btn-modal {
    background: #f07848 !important;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}

.modal-img {
    width: 350px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.logo-modal {
    width: 330px;
}

.modal-logo {
    padding: 15px;
    padding-left: 32px;
    margin-top: 6px;
    padding-bottom: 10px;
}


/*FILTROS PARTNER*/

.btn-filters {
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    background: #bfbdbc;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn-filters:hover {
    background: #a5a1a0;
}

.btn-filters-selected {
    background: #454847;
}


/*ENLACE MAP*/

.a-map {
    background: #1d2840;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: -43px;
    position: absolute;
    border-radius: 2px;
    font-size: 14px;
}

.a-map:hover,
.a-map:focus {
    color: #fff;
    text-decoration: none;
    background: #454847;
}

#line-td {
    /* position: absolute;
  width: 400px;
  left: 400px; */
    height: 67px;
    background-image: linear-gradient(-45deg, transparent 45%, #919195 50%, transparent 55%, transparent 100%);
    background-size: 8px 8px;
    background-position: 4px 4px;
}

.padding-btn {
    margin-bottom: 8px;
}

.padding-dd {
    padding: 0px 6px 0px 12px;
}

.padding-dd-01 {
    padding: 0px 11px 0px 4px;
}

.padding-dd-02 {
    padding: 0px 22px 0px 0px;
}

.padding-dd-03 {
    padding: 0px 4px 0px 12px;
}

.padding-dd-04 {
    padding: 0px 10px 0px 7px;
}

.padding-dd-05 {
    padding: 0px 19px 0px 0px;
}


/* SPINNER LOADER */

@-moz-keyframes circles-loader {
    0% {
        -moz-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
    50% {
        -moz-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@-webkit-keyframes circles-loader {
    0% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
    50% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes circles-loader {
    0% {
        -moz-transform: rotate(-720deg);
        -ms-transform: rotate(-720deg);
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
    50% {
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}


/* :not(:required) hides this rule from IE9 and below */

.circles-loader:not(:required) {
    position: absolute;
    /* text-indent: -9999px;
  display: inline-block; */
    width: 25px;
    height: 25px;
    background: rgba(255, 204, 51, 0.9);
    border-radius: 100%;
    -moz-animation: circles-loader 3s infinite ease-in-out;
    -webkit-animation: circles-loader 3s infinite ease-in-out;
    animation: circles-loader 3s infinite ease-in-out;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 45%;
    left: 48%;
}

.circles-loader:not(:required)::before {
    background: rgba(255, 102, 0, 0.7);
    border-radius: 100%;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 18.75px;
    left: -10.82532px;
}

.circles-loader:not(:required)::after {
    background: rgba(255, 51, 0, 0.7);
    border-radius: 100%;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 18.75px;
    left: 10.82532px;
}

.loader-bg {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;
}

.no-padding {
    padding: 0px !important;
}

.tabs-result {
    display: block;
    padding-bottom: 10px;
}


/* TOP MAP */

/* .map-top {
    z-index: 500 !important;
    position: absolute !important;
    top: 78px !important;
} */

/* .map-top-01 .nav-pills {
    position: absolute !important;
    right: -34px !important;
    z-index: 500 !important;
    top: 118px !important;
} */

.pop-up-close {
    position: absolute;
    right: 8px;
    top: 35px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.7);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: transparent;
}

.carto-attribution {
    bottom: 5px !important;
}

.carto-attribution-img {
    max-height: 26px;
}


/* start style 2 select which types or part */

.input-group-text input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #E0E0E0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.input-group-text input[type="checkbox"].btn-filters-selected:checked {
    background: #f07848;
    border: width border-style color;
}

.input-group-text input[type="checkbox"].btn-filters-selected:focus {
    outline: none;
}


/* NEW STYLES */

.btn-viewer {
    width: 153px;
    height: 36px;
    border-radius: 2px;
    background-color: rgba(26, 35, 61, 1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-viewer-01 {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 2px;
    background-color: rgba(26, 35, 61, 1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.211);
    color: #fff !important;
    text-decoration: none;
    height: 36px;
    /* width: 158px; */
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 4px;
}

.btn-md {
    background: #fff;
    width: 36px;
    height: 36px;
    padding: 0px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-md:hover {
    background: #1d2840;
}

.img-hv {
    display: none;
}

.btn-md:hover .img-hv {
    display: inherit;
}

.btn-md:hover .img-hh {
    display: none;
}


/*Scroll perzonalizado*/

body::-webkit-scrollbar {
    width: 7px;
    /* background: #000; */
}

body::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}

.filtros-tab::-webkit-scrollbar {
    width: 7px;
    /* background: #000; */
}

.filtros-tab::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}

.tab-content p::-webkit-scrollbar {
    width: 7px;
    /* background: #000; */
}

.tab-content p::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}

.btn-scroll ul::-webkit-scrollbar {
    width: 7px;
    /* background: #000; */
}

.btn-scroll ul::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}
.card-db::-webkit-scrollbar {
    width: 7px;
    height: 50px;
    /* background: #000; */
}
.card-db::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}
.historical::-webkit-scrollbar {
    width: 7px;
    height: 50px;
    /* background: #000; */
}
.historical::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}
.img-md {
    margin-right: 10px;
}

.tab-viewer .nav-tabs .nav-item.show .nav-link,
.tab-viewer .nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #fff;
    font-size: 11px;
    border-bottom: 3px solid #f17846;
    color: #282828;
    font-weight: 600;
    opacity: 1;
}

.tab-viewer .nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 11px;
    opacity: 0.5;
    color: #282828;
}

.tab-viewer .nav-tabs {
    border-bottom: 1px solid #fff;
    padding: 15px;
}

.global-p {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0px;
    position: absolute;
    top: 8px;
}

.for-p {
    opacity: 0.57;
    font-size: 11px;
    color: #ffffff;
    top: 26px;
    position: absolute;
    left: 57px;
}

.navbar-brand {
    margin-right: 0px;
}

.bg-color-nav .i-p {
    text-align: right;
    float: right;
    margin-top: 14px;
    opacity: 0.5;
}

.bg-color-nav .popover-body {
    width: 220px;
}

.result-subtitle .popover-body {
    width: 280px;
}
.i-infoo .popover-body {
    width: 260px;
}
.popover-header {
  padding: .5rem .75rem 0rem .75rem !important;
  margin-bottom: 0 !important;
  font-size: 12px !important;
  color: #212529 !important;
  background-color: #fff !important;
  border-bottom: 1px solid #fff !important;
  border-top-left-radius: calc(.3rem - 1px) !important;
  border-top-right-radius: calc(.3rem - 1px);
  font-weight: 400 !important;
  line-height: 1.5 !important;
}
.result-subtitle-one .popover-body {
    width: 220px;
}

.bitmap {
    width: 16.6px;
    height: 16.6px;
}

.mg-dd {
    margin-top: 186px;
}


/* COUNTRY */

.year-indicatore i,
.year-indicator i {
    color: #9b9b9b;
    padding-left: 7px;
    cursor: pointer;
    float: right;
    font-size: 14px;
}

.link-a.active {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 2px;
    background-color: rgba(26, 35, 61, 1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.11);
    color: #fff !important;
    text-decoration: none;
    height: 36px;
    /* width: 158px; */
    font-size: 11px;
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
}
.pp-md label {
  font-size: 12px;
}
.pp-md .ll-h{
  padding: 5px 5px 0px 7px;
  margin-bottom: 20px;
}
.pp-l {
  position: relative;
  top: -8px;
  left: 30px;
}
.ll-md{
  margin-top: 118px;
}
.md-ll{
  margin-bottom: 15px;
}
.border-01 {
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.select-indicator-01 {
    padding-top: 20px;
    padding-left: 56px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 11px;
    color: rgba(40, 40, 40, 0.56);
    text-transform: uppercase;
}

.menu-tabs {
    padding-left: 58px;
    margin-bottom: 20px;
}


/* CHECKBOX */
.label--checkbox,
.label--radio {
  position: relative;
  margin: 5px;
  line-height: 135%;
  cursor: pointer;
  width: 100%;
}
.checkbox {
  position: relative;
  top: 1px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background:#1d2840;
  cursor: pointer;
  border: solid 1px rgba(151, 151, 151, 0.29);
}

/* Estilos para cambiar el icono del select */


/* .toggle::before {
    content: '\F140';
    font-family: 'Material Design Icons';
    color: rgba(40, 40, 40, 0.56);
    font-size: 20px;
} */


/* COUNTRY LEVEL ANALISYS */
.historical{
  padding-top: 52px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
  overflow-y: auto;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.cc-mg{
  padding: 0px !important;
}
.historical p{
  font-size: 11px;
  font-weight: 500;
  line-height: 1.45;
  color: rgba(40, 40, 40, 0.56);
  padding-top: 15px;
}
.historical i{
  opacity: 1 !important;
}
.btn-run{
  width: 134px;
  height: 25px;
  border-radius: 2px;
  border: solid 1px rgba(117, 117, 117, 0.59);
  background: #fff;
  font-size: 11px;
  font-weight: 500;
  color: #282828;
  padding: 4px;
  float: right;
  cursor: pointer;
}
.btn-run:hover{
  background: #1d2840;
  color: #fff;
}
.run-mg{
  margin-top: 15px;
}
.level-bg{
  padding-top: 67px;
  padding-right: 0px;
  z-index: 0;
}
.card-db{
  height: 100%;
  border-top: solid 1px rgba(151, 151, 151, 0.2);
  border-left: solid 1px rgba(151, 151, 151, 0.2);
  margin-left: 25px;
  padding: 15px 30px;
  overflow-y: scroll;
}
.card-db label{
  font-size: 12px;
  font-weight: bold;
  color: #1d2840;
  margin-bottom: 0px;
}
.card-db p{
  opacity: 0.89;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  color: #4d4d4d;
}
.title-pp{
  font-size: 11px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  color: rgba(40, 40, 40, 0.56) !important;
  display: inline-flex;
  width: 95px;
}
.card-db i{
  color: #96a3ab !important;
  font-size: 14px !important;
}
.title-pp-01{
  font-size: 11px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  color: rgba(40, 40, 40, 0.56) !important;
}
.title-i{
  font-size: 11px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  text-align: center !important;
  color: #282828 !important;
  margin-top: 15px;
}
.card-bd{
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-top: 40px;
}
.card-bd-01{
  /* height: 406px; */
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
}
.card-bd h6{
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #282828;
}
.card-bd p{
  opacity: 0.6;
  font-size: 13px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 10px;
}
.card-bd-02{
  height: 406px;
  background-color: #f9f9f9;
  padding: 15px;
}
.ll-01{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #282828;
  margin-bottom: 15px;
}
.ll-hd{
  margin-bottom: 80px;
}
.modal-check{
  color: #1d2840;
  background-color: #fafafa;
  margin: 0px;
  padding: 4px 24px;
  position: relative;
  border: 1px solid #1d2840;
  border-radius: 2px;
  font-size: 11px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 10px;
  height: 25px;
  margin-bottom: 5px;
  margin-left: 56px;
  width: 160px;
}
.modal-check:hover{
  background-color: #1d2840;
  color: #fff;
}
.ll-k{
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.modal-open .modal {
  background: rgba(255,255,255,0.5);
}
.modal-icon .modal-content{
  border-radius: 2px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(26, 35, 61, 0.82);
  box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.1);
}
.modal-icon h6{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.modal-icon .modal-header{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.modal-icon .modal-header-left {
    width: 100%;
}
.modal-icon .modal-body{
  padding: 15px;
}
.modal-icon label{
  color: #fff;
  width: 24px;
  height: 24px;
  background-color: #1a233d;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.modal-icon .close{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    /* width: 15px; */
    position: absolute;
    right: 15px;
}
.modal-icon .modal-header .close {
  padding: 7px 15px;
}
.modal-dialog {
  max-width: 500px;
}

.mm-lo{
  border-bottom: 1px solid rgba(255, 255, 255, 0.0);
}
.hh-lo{
  position: fixed;
}
/* modificado para scrolll div */
.tab-map .tab-content section {
    height: 198px;
    overflow-x: hidden;
    padding-right: 15px;
    overflow-y: scroll;
}
.tab-content section::-webkit-scrollbar {
    width: 7px;
    /* background: #000; */
}
.tab-content section::-webkit-scrollbar-thumb {
    background: rgba(241, 120, 70, 0.5);
    border-radius: 5px;
}
/* etiqueta <i> en modalpmap */
h2 .pos-default-modal {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #ccc;
    font-size: 20px;
}
/* icon-indicator */
 .div-img-two .icon-indicator {
    width: 47px;
    height: 47px;
    margin-left: -3px;
}
.div-img-one .icon-indicator{
  width: 52px;
  height: 52px;
}
.table-title-left div, .table-title-left article{
    display: inline-block;
    vertical-align: middle;
    width:100%
}
.table-title-left .div-img-two{
    width: 100px;
}
.table-title-left .article-img-two{
    width: 65%;
}
.div-img-two{
    display: inline-block;
    vertical-align: middle;
}
 .table-title-left .div-img-one{
    width: 58px;
}
.table-title-left .article-img-one{
    width: 75%;
}
.iconIndicator img{
  height: 86px;
}
.ll-po{
  margin-left: 3px;
}
.i-info{
  color: #9b9b9b;
  padding-left: 7px;
  cursor: pointer;
  font-size: 14px;
  /* position: absolute;
  right: 16px;
  top: 85px; */
  float: right;
  margin-top: -45px;
  margin-right: 16px;
}
.iconIndicator .tooltip{
  width: 210px !important;
  font-size: 12px;
}
.iconIndicator .tooltip-inner, .nav-tool .tooltip-inner{
      text-align: left !important;
}
.nav-tool .tooltip{
  /* width: 210px !important; */
  font-size: 12px;
}
.i-info-label {
  color: #9b9b9b;
  padding-left: 7px;
  cursor: pointer;
  font-size: 14px;
  float: right;
  margin-top: -20px;
  /* margin-right: -86px; */
}
.label-size{
  width: 100%;
}
.p-01{
  margin: 0px !important;
  height: 0px;
}
.hoverData {
  font-size: 12px !important;
}
@media (min-width: 1600px){
  .logo-navbar{
      margin:0px !important;
      padding-top: 0px;
  }
}




/*STYLES FOR D3*/
#chart {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 440px;
    position: relative;
}
svg {
    width: 100%;
    height: 100%;
    position: center;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

text.label {
    font: 12px sans-serif;
    color: white;
    display: inline-block;
    width: 20px;
}
text.value {
    font-size: 120%;
    fill: white;
}

.axisHorizontal path{
    fill: none;
}

.axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar {
    fill: #f17846;
    fill-opacity: .9;
}
.oo-ll .popover{
  width: 400px;
}
