@import "../node_modules/mdi/css/materialdesignicons.min.css";
/*Tamaño del 100% para todo el view*/
html,
body{
    height: 100%;
}
.container-fluid{
    height: 100%;
}
.row{
    height: 100%;
}
/* - -  -  - - - - - - - - - -  - -ESTILOS para los tabs (scroll lado izquierdo) - - - -  - -  - - -  - - - - */
/*Contenedor para resultado*/
.result-container{
    max-height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    /*Color de la fuente por defecto*/
    color: #000;
}
/*Espaciodo para centrar contenido resultado*/
.result-space{
    padding: 25px 25px 0px 25px;
}

/*Estilos para fuentes*/
.result-title-one{
    font-weight: bold;
    font-size: 16px;
}
.result-text{
    font-size: 14px;
    text-align: justify;
}
.result-subtitle{
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 5px;
}
.result-subtitle i,
.result-subtitle-one i{
    color: #9b9b9b;
    padding-left: 7px;
}
.result-subtitle-one{
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 10px;
}
.title-table,
.subtitle-table{
    font-size: 14px;
}
.title-table-one,
.subtitle-table-one{
    font-size: 14px;
    text-align: center;
}
.subtitle-table{
    background-color: #f9ede8;
    padding-left: 22px !important;
}
.subtitle-table-one{
    background-color: #f8e0d6;
}
/*Fin estilos para fuente*/

/*Separadores entre lineas*/
.separator{
    height: 20px;
}
.line-separator{
    position: absolute;
    left: -10px;
    top: 420px;
    border-bottom: 1px solid #e2e2e2;
    width: 500px;
}
.table-space{
    margin-top: 30px;
}
.table th, .table td{
    vertical-align: middle;
    border-top: 0px;
}

/*Fondo para resultados*/
.result-background{
    background-color: #FAFAFA;
    padding-left: 25px;
    padding-right: 25px;
}
.result-background-table{
    background-color: #f9f9f9;
    padding-left: 25px;
}
.result-background-table-item{
    background-color: #f9f9f9;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /*height: 100px;*/
    margin-left: -25px;
}

/*INICIO estilos para botones naranja y plomo*/

.radio input[type="radio"]{
    display: none;
}
.radio label{
    color: #808080;
    background-color: #fafafa;
    padding: 0px;
    margin: 0px;
    padding: 7px 24px;
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 50px 0px 0px 50px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.radio label:hover{
    background-color: rgba(240,120,72, 0.2);
}
.radio input[type="radio"]:checked + label{
    background-color: #f07848;
    color: #fff;
}
label.middle{
    margin-left: -5px;
    margin-right: -6px;
    border-radius: 0px;
}
label.right-btn{
    border-radius: 0px 50px 50px 0px;
}
/*FIN estilos para botones naranja y plomo*/

/*Estilo para los botones de export*/
.btn-export{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 13px 40px;
    border-radius: 5px;
    position: fixed;
    top: 86%;
    left: 130px;
    background-color: #f17846;
}
a.btn-export:hover{
    color: #fff;
    text-decoration: none;
}

/*INICIO estilos para los campos de select*/
.style-select .form-control{
    background-color: #f5f5f5;
    border-radius: 20px;
    height: 45px;
    padding: 0px 25px;
    font-size: 14px;
}
.style-select .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #E2E2E2;
    box-shadow: none;
}
.style-select select {
    background-image: url("assets/chevron-down.png"); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 337px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}
.style-select select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
/*FIN estilos para los campos de select*/

/*INICIO ESTILOS PARA Input text*/
.option-input .form-group .form-control{
    background-color: #f5f5f5;
    border-radius: 30px;
    text-align: center;
    width: 48%;
    height: 45px;
    color: #f17846;
}
.option-input .form-group .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #E2E2E2;
    box-shadow: none;
}
input.left{
    float: left;
}
input.right{
    float: right;
}
/*FIN ESTILOS PARA Input text*/

/*ESTILOS de los tabs*/
.nav-pills{
    position: absolute;
    right: -175px;
    z-index: 500;
    top: 58px;
}
.nav-pills i{
    font-size: 24px;
}
.nav-pills span{
    position: relative;
    top: -5px;
    font-size: 14px;
    padding-right: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #fff;
    color: #F27844;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.nav-pills .nav-link{
    color: #9B9B9B;
    border-radius: 0.25rem;
    padding: 0px;
    background-color: #fff;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.active{
    background: none;
    border: 0px;

}
/*ESTILOS de los tabs*/

/*Estilos para checkbox*/
.checkbox-select input[type="checkbox"]{
    display: none;
}
.checkbox-select label{
    padding-right: 16px;
    position: relative;
}
.checkbox-select label:before{
    content: '';
    border: 1px solid #F27844;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    position: absolute;
    right: -30px;
    cursor: pointer;
}

.checkbox-select input[type="checkbox"]:checked + label:before{
    border-color: #888;
    color: #F27844;
    content: '\F12C';
    font-family: Material Design Icons;
    padding-left: 3px;
}


/* - -  -  - - - - - - - - - -  - -ESTILOS para los tabs (scroll lado izquierdo) - - - -  - -  - - -  - - - - */


/* - - - - - - - - - - - - - - -- - ESTLIOS para el mapa y header; - - - - - - --  - --  - - - - - -  - - - - */

.map-header{
    background-color: #444847;
    height: 50px;
}
.map-header p{
    font-size: 14px;
    color: #fff;
    padding-top: 12px;
    font-weight: bold;
    padding-left: 20px;
}

/* - - - - - - - - - - - - - - -- - ESTLIOS para el mapa y header; - - - - - - --  - --  - - - - - -  - - - - */


/* - - - - - - - - - - - - - - -- - ESTLIOS para card del mapa - - - - - - --  - --  - - - - - -  - - - - */
.card-map{
    position: absolute;
    top: 60px;
    right: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #ccc;
    width: 200px;
}
    .head-card p{
        padding: 0px;
        margin: 0px;
        color: #F27844;
        font-weight: 600;
        padding-left: 20px;
    }
    .head-card p:nth-child(1){
        padding-top: 10px;
        font-size: 12px;
        color: #F27844;
    }
    .head-card p:nth-child(2){
        font-size: 10px;
        padding-top: 10px;
        color: #FDC333;
        padding-bottom: 15px;
    }
    .number-card{
        background-color: #F7F7F7;
        padding-left: 30px;
        padding-right: 30px;
        height: 60px;
    }
        .number-card p{
            padding: 0px;
            margin: 0px;
        }
        .number-card .left-number{
            float: left;
        }
        .number-card .right-number{
            float: right;
        }
        .number-card .left-number p:nth-child(1),
        .number-card .right-number p:nth-child(1){
            font-size: 13px;
            padding-top: 7px;
            font-weight: 600;
            text-align: center;
        }
        .number-card .left-number p:nth-child(2),
        .number-card .right-number p:nth-child(2){
            font-size: 11px;
            color: #F27844;
            font-weight: bold;
            padding-top: 5px;
            text-align: center;
        }
        .content-card{
            padding-left: 20px;
            padding-right: 20px;
        }
        .content-card p{
            padding-top: 15px;
            text-align: justify;
            font-size: 11px;
        }
        .button-card{
            padding-left: 20px;
            padding-right: 20px;
        }
        .button-card p{
            text-align: center;
        }
        .button-card p a{
            text-decoration: none;
            background-color: #FDF1EC;
            display: block;
            font-size: 10px;
            color: #F17846;
            font-weight: bold;
            padding: 10px 0px;
        }
        
/* - - - - - - - - - - - - - - -- - ESTLIOS para card del mapa - - - - - - --  - --  - - - - - -  - - - - */
